In [55]:
import pandas as pd
import numpy as np

test_df = pd.DataFrame({'item': [20, 20, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 40, 40, 40 ],
                        'measure': [1, 1, 1, 3, 3, 3, 3, 3, 6, 6, 6, 6, 6, 7, 7, 7, 10, 10, 10, 10, 10, 10, 10, 10 ],
                        'cat': ['a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'd', 'd', None, 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e']})
test_df

    item  measure   cat
0     20        1     a
1     20        1     a
2     20        1     a
3     20        3     b
4     20        3     b
5     20        3     b
6     20        3     b
7     20        3     b
8     30        6     c
9     30        6     c
10    30        6     c
11    30        6     c
12    30        6     c
13    30        7     d
14    30        7     d
15    30        7  None
16    40       10     e
17    40       10     e
18    40       10     e
19    40       10     e
20    40       10     e
21    40       10     e
22    40       10     e
23    40       10     e

In [56]:
# ChatGPT suggested code, doesn't work (and the 4 derivatives of it)
#  ChatGPT also suggested doing a second calculation to specifically set those first groupby rows, which is super awkward.
#  Should be able to get this in one statement.
test_df['measure_change'] = test_df.groupby('item')['measure'].transform(lambda x: x.shift().fillna(0) != x.fillna(0))
test_df

    item  measure   cat  measure_change
0     20        1     a            True
1     20        1     a           False
2     20        1     a           False
3     20        3     b            True
4     20        3     b           False
5     20        3     b           False
6     20        3     b           False
7     20        3     b           False
8     30        6     c            True
9     30        6     c           False
10    30        6     c           False
11    30        6     c           False
12    30        6     c           False
13    30        7     d            True
14    30        7     d           False
15    30        7  None           False
16    40       10     e            True
17    40       10     e           False
18    40       10     e           False
19    40       10     e           False
20    40       10     e           False
21    40       10     e           False
22    40       10     e           False
23    40       10     e           False

In [57]:
# The StackOverflow suggestion works for numeric data types:
test_df['measure_change_so'] = test_df.groupby('item')['measure'].diff().fillna(0) != 0
test_df

    item  measure   cat  measure_change  measure_change_so
0     20        1     a            True              False
1     20        1     a           False              False
2     20        1     a           False              False
3     20        3     b            True               True
4     20        3     b           False              False
5     20        3     b           False              False
6     20        3     b           False              False
7     20        3     b           False              False
8     30        6     c            True              False
9     30        6     c           False              False
10    30        6     c           False              False
11    30        6     c           False              False
12    30        6     c           False              False
13    30        7     d            True               True
14    30        7     d           False              False
15    30        7  None           False              False
16    40       10     e            True              False
17    40       10     e           False              False
18    40       10     e           False              False
19    40       10     e           False              False
20    40       10     e           False              False
21    40       10     e           False              False
22    40       10     e           False              False
23    40       10     e           False              False

In [58]:
# And another StackOverflow suggestion works for any data types including strings:
test_df['cat_change_so'] = test_df.groupby('item')['measure'].transform(lambda x: (x != x.shift()) & (x.shift().notna()))
test_df

    item  measure   cat  measure_change  measure_change_so  cat_change_so
0     20        1     a            True              False          False
1     20        1     a           False              False          False
2     20        1     a           False              False          False
3     20        3     b            True               True           True
4     20        3     b           False              False          False
5     20        3     b           False              False          False
6     20        3     b           False              False          False
7     20        3     b           False              False          False
8     30        6     c            True              False          False
9     30        6     c           False              False          False
10    30        6     c           False              False          False
11    30        6     c           False              False          False
12    30        6     c           False              False          False
13    30        7     d            True               True           True
14    30        7     d           False              False          False
15    30        7  None           False              False          False
16    40       10     e            True              False          False
17    40       10     e           False              False          False
18    40       10     e           False              False          False
19    40       10     e           False              False          False
20    40       10     e           False              False          False
21    40       10     e           False              False          False
22    40       10     e           False              False          False
23    40       10     e           False              False          False

In [59]:
# This is my brute-force method using C++ style iterators and loops
test_df['m2'] = None
test_df

,item,measure,cat,measure_change,measure_change_so,cat_change_so,m2
0,20,1,a,True,False,False,None
1,20,1,a,False,False,False,None
2,20,1,a,False,False,False,None
3,20,3,b,True,True,True,None
4,20,3,b,False,False,False,None
5,20,3,b,False,False,False,None
6,20,3,b,False,False,False,None
7,20,3,b,False,False,False,None
8,30,6,c,True,False,False,None
9,30,6,c,False,False,False,None
10,30,6,c,False,False,False,None
11,30,6,c,False,False,False,None
12,30,6,c,False,False,False,None
13,30,7,d,True,True,True,None
14,30,7,d,False,False,False,None
15,30,7,None,False,False,False,None
16,40,10,e,True,False,False,None
17,40,10,e,False,False,False,None
18,40,10,e,False,False,False,None
19,40,10,e,False,False,False,None
20,40,10,e,False,False,False,None
21,40,10,e,False,False,False,None
22,40,10,e,False,False,False,None
23,40,10,e,False,False,False,None

In [60]:
it = iter(test_df.groupby('item')['measure'])

idx = 0
for i in it:
    last_x = None
    s = f"{i[0]}: "
    n = 0
    for x in i[1]:
        s = f"{s} {x}"

        if n == 0:
            # first row of the group is always False
            test_df.loc[idx, 'm2'] = False
        else:
            # now do the change test
            test_df.loc[idx, 'm2'] = (x != last_x)

        # save this one for the next loop
        last_x = x
        n = n + 1
        idx = idx + 1

    if idx < 30: print(s)

test_df

20:  1 1 1 3 3 3 3 3
30:  6 6 6 6 6 7 7 7
40:  10 10 10 10 10 10 10 10

,item,measure,cat,measure_change,measure_change_so,cat_change_so,m2
0,20,1,a,True,False,False,False
1,20,1,a,False,False,False,False
2,20,1,a,False,False,False,False
3,20,3,b,True,True,True,True
4,20,3,b,False,False,False,False
5,20,3,b,False,False,False,False
6,20,3,b,False,False,False,False
7,20,3,b,False,False,False,False
8,30,6,c,True,False,False,False
9,30,6,c,False,False,False,False
10,30,6,c,False,False,False,False
11,30,6,c,False,False,False,False
12,30,6,c,False,False,False,False
13,30,7,d,True,True,True,True
14,30,7,d,False,False,False,False
15,30,7,None,False,False,False,False
16,40,10,e,True,False,False,False
17,40,10,e,False,False,False,False
18,40,10,e,False,False,False,False
19,40,10,e,False,False,False,False
20,40,10,e,False,False,False,False
21,40,10,e,False,False,False,False
22,40,10,e,False,False,False,False
23,40,10,e,False,False,False,False

In [61]:
# a_itr should be a groupby iterator for a specific col to pivot and a col to iterate over
# a_col_name should be an existing column in the original pre-groupby DataFrame to populate, similar to what a Transform method would do
def FlagChanges( a_itr, a_col_name):
    idx = 0
    for i in a_itr:
        last_x = None
        s = f"{i[0]}: "
        n = 0
        for x in i[1]:
            s = f"{s} {x}"

            if n == 0:
                # first row of the group is always False
                test_df.loc[idx, a_col_name] = False
            else:
                # now do the change test
                test_df.loc[idx, a_col_name] = (x != last_x)

            # save this one for the next loop
            last_x = x
            n = n + 1
            idx = idx + 1

        if idx < 30: print(s)

test_df['m3'] = None
test_df['c3'] = None

# run the procedure
it = iter(test_df.groupby('item')['measure'])
FlagChanges(it, 'm3')

it = iter(test_df.groupby('item')['cat'])
FlagChanges(it, 'c3')


test_df

20:  1 1 1 3 3 3 3 3
30:  6 6 6 6 6 7 7 7
40:  10 10 10 10 10 10 10 10
20:  a a a b b b b b
30:  c c c c c d d None
40:  e e e e e e e e

,item,measure,cat,measure_change,measure_change_so,cat_change_so,m2,m3,c3
0,20,1,a,True,False,False,False,False,False
1,20,1,a,False,False,False,False,False,False
2,20,1,a,False,False,False,False,False,False
3,20,3,b,True,True,True,True,True,True
4,20,3,b,False,False,False,False,False,False
5,20,3,b,False,False,False,False,False,False
6,20,3,b,False,False,False,False,False,False
7,20,3,b,False,False,False,False,False,False
8,30,6,c,True,False,False,False,False,False
9,30,6,c,False,False,False,False,False,False
10,30,6,c,False,False,False,False,False,False
11,30,6,c,False,False,False,False,False,False
12,30,6,c,False,False,False,False,False,False
13,30,7,d,True,True,True,True,True,True
14,30,7,d,False,False,False,False,False,False
15,30,7,None,False,False,False,False,False,True
16,40,10,e,True,False,False,False,False,False
17,40,10,e,False,False,False,False,False,False
18,40,10,e,False,False,False,False,False,False
19,40,10,e,False,False,False,False,False,False
20,40,10,e,False,False,False,False,False,False
21,40,10,e,False,False,False,False,False,False
22,40,10,e,False,False,False,False,False,False
23,40,10,e,False,False,False,False,False,False