# Export/Import script for SQL Server to MySQL
From 2018-current, CalGEM has changed the database structure, reporting style and some of the nomenclature. This script is attempting to convert the well and monthly data into a composite format that can be used with historical data

In [1]:
# import os.path

import pyodbc
#import mysql.connector
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
import os
from tqdm.auto import tqdm # as of 2/1/2022
from ipywidgets import FloatProgress
from IPython.display import display

pd.options.display.max_columns = 999

In [2]:
# Progress bar
progress = FloatProgress(min=0.0, max=100.0)
display(progress)

FloatProgress(value=0.0)

In [3]:
# Pandas functions progress bar
tqdm.pandas()

## Loading the Data
There are 2 data tables provided by the regulatory body of interest to me
The Wells table, which now has API12 (so wellbore) and all the pertinent annual codes and attributes.
Then the monthly volumes tables (actually 2, one for production and one for injection, but I've already joined them in a query)

In [4]:
load_year = 2018

sql_query_filename = f"C:/Stuff/doggr_2024/SQLQuery_{load_year}_Prod_Inj_Join.sql"
mssql_db_name = f"WellProductionInjection{load_year}"
mssql_tbl_name = f"{load_year}CaliforniaOilAndGasWells"

In [5]:
# check if the pickle data file exists
# it can take minutes to read the SQL data into a dataframe, so pickling it will save a lot time on a restart of the notebook
# note the pickle file is saved in the current working directory, not the sql directory mentioned below (obv)
pickle_file_name = f"{load_year}_prod_inj_data.pkl"
if os.path.exists(pickle_file_name) :
    print("Reading existing mv pickle...")
    df = pd.read_pickle(pickle_file_name)
else:
    # Connect to the SQL Server to read the data tables
    # Starting in v18, they default encryption, which we definately don't need for this and locally
    # ;Database=WellProductionInjection2019
    conn_str = "Driver={ODBC Driver 18 for Sql Server};Server=WhiteFractal-i7\\SQLEXPRESS;Trusted_Connection=yes;Encrypt=no;"
    conn = pyodbc.connect(conn_str)

    print("Reading SQL monthly volume data...")
    with open(sql_query_filename) as sqlfile:
        query_result = sqlfile.read()

    df = pd.read_sql_query(query_result, conn)

    # Some of the INT types in the query return here as Float b/c the Pandas default NULL is a float type.
    # So I'll convert those columns back to Int64 (which also includes a NULL option)
    df['casing_psi'] = df['casing_psi'].astype('Int64')
    df['tubing_psi'] = df['tubing_psi'].astype('Int64')
    df['gas_btu']    = df['gas_btu'].astype('Int64')
    df['well_mo']    = df['well_mo'].astype('Int64')
    df['surf_inj_press_psi'] = df['surf_inj_press_psi'].astype('Int64')
    df['water_disposition'] = df['water_disposition'].astype('Int64')
    df['water_source'] = df['water_source'].astype('Int64')
    df['water_kind'] = df['water_kind'].astype('Int64')

    df.to_pickle(pickle_file_name)

progress.value += 5
# print out the loaded dataframe
df

Reading existing mv pickle...

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,<NA>,<NA>,<NA>,Estimated,0
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,<NA>,<NA>,Reported,1
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0

In [6]:
pickle_file_name = f"{load_year}_well_records.pkl"
if os.path.exists(pickle_file_name) :
    print("Reading existing wells pickle...")
    df_wells = pd.read_pickle(pickle_file_name)
else:
    # Connect to the SQL Server to read the data tables
    # Starting in v18, they default encryption, which we definately don't need for this and locally
    conn_str = f"Driver={{ODBC Driver 18 for Sql Server}};Server=WhiteFractal-i7\\SQLEXPRESS;Database={mssql_db_name};Trusted_Connection=yes;Encrypt=no;"
    conn = pyodbc.connect(conn_str)

    print(f"Reading SQL well data... {mssql_db_name}.dbo.{mssql_tbl_name}")

    # This query composites the well tables together to remove duplicate rows by SystemEntryDate
    sql_str = "WITH ranked_wells AS ( SELECT *, ROW_NUMBER() OVER ( PARTITION BY API, FieldCode, AreaCode, PoolCode, WellTypeCode, LeaseName, FieldName, AreaName, PoolName, WellNumber, WellStatus, County, District, Section, Township, [Range], BM, Operatorcode, OperatorName, OperatorStatus ORDER BY CASE WHEN SystemEntryDate is NOT NULL THEN 1 ELSE 2 END ASC ) as row_num FROM ["+mssql_db_name+"].[dbo].["+mssql_tbl_name+"]) SELECT * FROM ranked_wells WHERE row_num=1"

    col_rename = {
        'API':'api_no',
        'FieldCode':'field_code',
        'AreaCode':'area_code',
        'PoolCode':'pool_code',
        'WellTypeCode':'well_type_cd',
        'Section':'loc_section',
        'Range':'loc_range',
        'BM':'loc_bm',
        'Township':'loc_township',
        'County':'county',
        'LeaseName':'lease_name',
        'FieldName':'field_name',
        'AreaName':'area_name',
        'PoolName':'pool_name',
        'OperatorName':'operator_name',
        'OperatorStatus':'operator_status',
        'WellNumber':'well_number',
        'WellStatus':'well_status',
        'District':'district',
        'Operatorcode':'operator_cd' }

    df_wells = pd.read_sql_query(sql_str, conn)

    # cleanup the column names from the SQL Server db - getting them into mysql format right off the bat
    df_wells.rename(columns=col_rename, inplace=True)

    # save the pickle for the next run
    df_wells.to_pickle(pickle_file_name)

progress.value += 5
# print out the loaded dataframe
df_wells

Reading existing wells pickle...

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num
0,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1
1,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1
2,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1
3,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1
4,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221367,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1
221368,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1
221369,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1
221370,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1
221371,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1

In [7]:
original_cols = df.columns
original_cols

Index(['api_no', 'api_no_int', 'prod_inj_date', 'vol_month', 'vol_year',
       'casing_psi', 'prod_or_inj', 'tubing_psi', 'gas_btu', 'well_mo',
       'oil_api_grav', 'surf_inj_press_psi', 'oil_prod_vol_bbl', 'prod_days',
       'gas_prod_vol_mcf', 'water_prod_vol_mcf', 'gas_inj_vol_mcf',
       'water_stm_inj_vol_bbl', 'inj_days', 'report_type', 'field_code',
       'area_code', 'pool_code', 'well_type_cd', 'well_status',
       'water_disposition', 'water_source', 'water_kind', 'rep_or_est',
       'rep_or_est_cd'],
      dtype='object')

In [8]:
# setting a column type as category can allow us to organize/sort the categories manually
# i.e. df["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)
# I'm adding a new category 'Inactive' later in my calculations, so would need to add it to the category set here
# df['well_status'] = df['well_status'].astype('category')

# Set the index of the df_wells to the API number - actually doing this towards the end, just before the merge call
# Turns out the unique index is API / field_code / area_code / pool_code...
#    they didn't bother suffixing the API for a different pool for many of the old wells
#df_wells.set_index(['API','field_code','pool_code','well_type_cd'], drop=True, inplace=True, verify_integrity=True)
#print(f"Index of df_wells_from_mv: {df_wells.index}")

In [9]:
# df['prod_inj_date'] = df['prod_inj_date'].astype('date') # python dataframe calls this an object, but it seems to be correctly assinging Date datatype under the hood
print(f"datatype of {type(df['prod_inj_date'][0])}")

datatype of <class 'datetime.date'>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461160 entries, 0 to 1461159
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   api_no                 1461160 non-null  object
 1   api_no_int             1461160 non-null  int64
 2   prod_inj_date          1461160 non-null  object
 3   vol_month              1461160 non-null  int64
 4   vol_year               1461160 non-null  int64
 5   casing_psi             1029633 non-null  Int64
 6   prod_or_inj            1461160 non-null  int64
 7   tubing_psi             867657 non-null   Int64
 8   gas_btu                861710 non-null   Int64
 9   well_mo                873379 non-null   Int64
 10  oil_api_grav           868692 non-null   float64
 11  surf_inj_press_psi     222958 non-null   Int64
 12  oil_prod_vol_bbl       1010570 non-null  float64
 13  prod_days              873379 non-null   float64
 14  gas_prod_vol_mcf       1010570 non-null  float64
 15  water_prod_vol_mcf     1010570 non-null  float64
 16  gas_inj_vol_mcf        490111 non-null   float64
 17  water_stm_inj_vol_bbl  490111 non-null   float64
 18  inj_days               223203 non-null   float64
 19  report_type            1461160 non-null  object
 20  field_code             1461160 non-null  object
 21  area_code              1461160 non-null  object
 22  pool_code              1461160 non-null  object
 23  well_type_cd           1461160 non-null  object
 24  well_status            1461160 non-null  object
 25  water_disposition      835951 non-null   Int64
 26  water_source           218703 non-null   Int64
 27  water_kind             218699 non-null   Int64
 28  rep_or_est             1461160 non-null  object
 29  rep_or_est_cd          1461160 non-null  int64
dtypes: Int64(8), float64(8), int64(5), object(9)
memory usage: 345.6+ MB

In [11]:
df_wells.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221372 entries, 0 to 221371
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   api_no              221372 non-null  object
 1   field_code          221372 non-null  object
 2   area_code           221372 non-null  object
 3   pool_code           221372 non-null  object
 4   well_type_cd        221372 non-null  object
 5   lease_name          221372 non-null  object
 6   field_name          221372 non-null  object
 7   area_name           221372 non-null  object
 8   pool_name           221372 non-null  object
 9   well_number         221372 non-null  object
 10  well_status         221372 non-null  object
 11  PoolWellTypeStatus  221372 non-null  object
 12  county              221371 non-null  object
 13  district            221371 non-null  object
 14  loc_section         221371 non-null  object
 15  SubSection          0 non-null       object
 16  loc_township        221372 non-null  object
 17  loc_range           221372 non-null  object
 18  loc_bm              221371 non-null  object
 19  operator_cd         221372 non-null  object
 20  operator_name       221372 non-null  object
 21  operator_status     221372 non-null  object
 22  SystemEntryDate     221372 non-null  datetime64[ns]
 23  row_num             221372 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(22)
memory usage: 40.5+ MB

## Examine the categorical fields - these have discrete codes or strings

### investigate categoricals from the monthly volumes table

In [12]:
# Examine the report type category
aggfunc = {
    'api_no'                : pd.Series.nunique,
    'prod_days'             :'sum',
    'inj_days'              :'sum',
    'oil_prod_vol_bbl'      :'sum',
    'gas_prod_vol_mcf'      :'sum',
    'gas_inj_vol_mcf'       :'sum',
    'water_stm_inj_vol_bbl' :'sum'
}

df.pivot_table(index=['report_type','rep_or_est'], values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

                        api_no  gas_inj_vol_mcf  gas_prod_vol_mcf   inj_days  \
report_type rep_or_est
OG110       Estimated    26794        5944458.0      2.905595e+07      248.0
            Reported     89843      122059746.0      3.402912e+08   105541.0
OG110B      Estimated    27933        3247725.0      0.000000e+00      248.0
            Reported     18361       40529681.0      0.000000e+00  2922440.0

                        oil_prod_vol_bbl   prod_days  water_stm_inj_vol_bbl
report_type rep_or_est
OG110       Estimated       2.070868e+07      3441.0           2.325202e+06
            Reported        1.400726e+08  14280521.0           6.808392e+07
OG110B      Estimated       0.000000e+00         0.0           8.518858e+08
            Reported        0.000000e+00         0.0           2.090018e+09

In [13]:
# Examine the well status category
df.pivot_table(index='well_status', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
well_status,,,,,,,
Abeyance,1,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
Active,84910,74907538.0,3.690547e+08,370464.0,1.599380e+08,14222946.0,1.043197e+09
Canceled,32,0.0,0.000000e+00,0.0,0.000000e+00,0.0,1.775500e+04
Idle,64021,96810057.0,2.271120e+05,2657171.0,4.604279e+05,60138.0,1.954191e+09
New,886,0.0,1.690938e+04,553.0,1.712425e+05,250.0,5.839770e+05
Plugged,5485,64015.0,4.821888e+04,289.0,2.110535e+05,628.0,1.429632e+07
PluggedOnly,14,0.0,2.356700e+02,0.0,5.484300e+02,0.0,2.596800e+04
Unknown,1,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00

In [14]:
# Examine the well type category
df.pivot_table(index='well_type_cd', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
well_type_cd,,,,,,,
AI,7,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
DG,2490,764990.0,1.855116e+07,218.0,5.373800e+04,348706.0,4.596000e+03
DH,2,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
GD,102,2701774.0,0.000000e+00,18683.0,0.000000e+00,0.0,2.690000e+02
GS,503,130069120.0,1.896633e+08,20039.0,1.977300e+04,24521.0,0.000000e+00
INJ,15,0.0,0.000000e+00,1794.0,0.000000e+00,0.0,4.996190e+05
LG,1,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
Multi,1,0.0,0.000000e+00,0.0,6.496600e+02,0.0,0.000000e+00
OB,3626,0.0,2.105310e+03,31.0,2.091500e+02,0.0,9.188000e+03
OG,88659,519192.0,1.596071e+08,66123.0,1.516181e+08,13316208.0,6.911376e+07
PM,175,37697996.0,0.000000e+00,33497.0,2.254010e+03,0.0,1.128600e+04
SC,24238,0.0,1.490581e+06,36620.0,9.043314e+06,590666.0,2.663362e+08
SF,9129,0.0,2.170700e+02,1288046.0,7.769030e+03,63.0,3.949318e+08
WD,1820,22345.0,0.000000e+00,244076.0,0.000000e+00,0.0,7.163231e+08
WF,8040,6193.0,3.267955e+04,1319350.0,3.427027e+04,0.0,1.565083e+09
WS,151,0.0,3.000000e+01,0.0,1.213500e+03,3798.0,0.000000e+00

In [15]:
df[df['well_type_cd'] == 'INJ']

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd
1128760,040305786800,40305786800,2018-06-30,6,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,7879.0,30.0,OG110B,190,24,05,INJ,Idle,<NA>,1,4,Reported,1
1128761,040305786800,40305786800,2018-07-31,7,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,9389.0,31.0,OG110B,190,24,05,INJ,Idle,<NA>,1,4,Reported,1
1128762,040305786800,40305786800,2018-08-31,8,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,5408.0,16.0,OG110B,190,24,05,INJ,Idle,<NA>,1,4,Reported,1
1128763,040305786800,40305786800,2018-09-30,9,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,190,24,05,INJ,Idle,<NA>,0,0,Reported,1
1128764,040305786800,40305786800,2018-10-31,10,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,190,24,05,INJ,Idle,<NA>,0,0,Reported,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169188,040306324300,40306324300,2018-12-31,12,2018,0,1,<NA>,<NA>,<NA>,NaN,272,NaN,NaN,NaN,NaN,0.0,7645.0,31.0,OG110B,432,00,10,INJ,Idle,<NA>,7,1,Reported,1
1173722,040306448000,40306448000,2018-12-31,12,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,052,00,05,INJ,Idle,<NA>,0,0,Reported,1
1173723,040306448100,40306448100,2018-12-31,12,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,052,00,05,INJ,Idle,<NA>,0,0,Reported,1
1173724,040306448200,40306448200,2018-12-31,12,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,052,00,05,INJ,Idle,<NA>,0,0,Reported,1
1173734,040306448700,40306448700,2018-12-31,12,2018,0,1,<NA>,<NA>,<NA>,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,052,00,05,INJ,Idle,<NA>,0,0,Reported,1

### Well Type Conversion Code cleanup

<a id='well_type_cleanup'></a>

<a href='#well_type_codes'>Link to Well Type Codes</a>

| No. | Well Type | Definition                             |
|:---:|:---------:|:---------------------------------------|
|  0  |    AI     | Air Injector                           |
|  1  |    DG     | Dry Gas Production                     |
|  C  |    GD     | Gas Disposal Injector                  |
|  3  |    GS     | Gas Storage Injector/Producer          |
|  5  |    LG     | Liquid Petroleum Gas Injector/Producer |
|  B  |    OB     | Observation Well                       |
|  2  |    OG     | Oil & Gas Production                   |
|  4  |    PM     | Pressure Maintenance Injector          |
|  A  |    SC     | Steam Flood Cyclic(?)                  |
|  8  |    SF     | Steam Flood Injector                   |
|  6  |    WD     | Water Disposal Injector                |
|  7  |    WF     | Water Flood Injector                   |
|  9  |    WS     | Water Source Injector                  |

In [16]:
# Destination table has well type code of 2 chars, so fix the "Multi" ones
df.loc[df['well_type_cd'] == 'Multi', 'well_type_cd'] = 'ML'
df.loc[df['well_type_cd'] == 'GAS', 'well_type_cd'] = 'DG'

# For well types Unknown, try to set it by imputation later
df.loc[df['well_type_cd'] == 'UNK', 'well_type_cd'] = None

# I'm going to call all the INJ well types Cyclic Steam for now, they were corrected in later years (ex. 040192614700 has INJ in 2019, then SF in 2024)
df.loc[df['well_type_cd'] == 'INJ', 'well_type_cd'] = 'SC'
df.pivot_table(index='well_type_cd', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
well_type_cd,,,,,,,
AI,7,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
DG,2490,764990.0,1.855116e+07,218.0,5.373800e+04,348706.0,4.596000e+03
DH,2,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
GD,102,2701774.0,0.000000e+00,18683.0,0.000000e+00,0.0,2.690000e+02
GS,503,130069120.0,1.896633e+08,20039.0,1.977300e+04,24521.0,0.000000e+00
LG,1,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
ML,1,0.0,0.000000e+00,0.0,6.496600e+02,0.0,0.000000e+00
OB,3626,0.0,2.105310e+03,31.0,2.091500e+02,0.0,9.188000e+03
OG,88659,519192.0,1.596071e+08,66123.0,1.516181e+08,13316208.0,6.911376e+07
PM,175,37697996.0,0.000000e+00,33497.0,2.254010e+03,0.0,1.128600e+04
SC,24253,0.0,1.490581e+06,38414.0,9.043314e+06,590666.0,2.668358e+08
SF,9129,0.0,2.170700e+02,1288046.0,7.769030e+03,63.0,3.949318e+08
WD,1820,22345.0,0.000000e+00,244076.0,0.000000e+00,0.0,7.163231e+08
WF,8040,6193.0,3.267955e+04,1319350.0,3.427027e+04,0.0,1.565083e+09
WS,151,0.0,3.000000e+01,0.0,1.213500e+03,3798.0,0.000000e+00

In [17]:
# Examine the well method of operation category
df.pivot_table(index='well_mo', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
well_mo,,,,,,,
0,43295,58776203.0,3485649.0,32539.0,340023.0,68501.0,17598191.0
1,4075,62162656.0,159928135.0,17576.0,6070377.0,791027.0,10396761.0
2,4,0.0,0.0,0.0,3164.0,396.0,0.0
3,60280,0.0,128990415.9,45185.0,100474195.0,10527494.0,29912944.0
4,16501,0.0,2904358.0,5817.0,18954909.0,1888407.0,8634427.0
5,537,248077.0,1404835.0,102.0,1447481.0,80756.0,11280.0
6,2323,202915.0,11815140.0,630.0,7195335.0,330401.0,868621.0
7,123,0.0,551800.0,0.0,93132.0,10980.0,0.0
8,9771,733910.0,31225547.0,3816.0,5548188.0,586000.0,1295744.0

In [18]:
# Examine the water disposal category
df.pivot_table(index='water_disposition', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
water_disposition,,,,,,,
0,41182,88113953.0,24984115.0,28024.0,857999.0,156500.0,11677817.0
1,1492,0.0,873727.0,744.0,1264759.0,197523.0,400241.0
2,100,0.0,20965.0,53.0,15117.0,7379.0,22322.0
3,2491,0.0,239758.0,583.0,1656032.0,285681.0,433259.0
4,550,364950.0,1331587.0,288.0,678381.0,83875.0,0.0
5,59786,22977581.0,227058254.0,61578.0,119996532.0,11898637.0,45089903.0
6,11513,10021836.0,59099922.9,9411.0,14096940.0,1494501.0,6585468.0

In [19]:
# Examine the water kind category
df.pivot_table(index='water_kind', values=['api_no','prod_days','inj_days','oil_prod_vol_bbl','gas_prod_vol_mcf','gas_inj_vol_mcf','water_stm_inj_vol_bbl'], aggfunc=aggfunc,  observed=False)

,api_no,gas_inj_vol_mcf,gas_prod_vol_mcf,inj_days,oil_prod_vol_bbl,prod_days,water_stm_inj_vol_bbl
water_kind,,,,,,,
0,12402,119380707.0,118446451.0,72416.0,4742159.00,311241.0,7.517627e+07
1,12546,37509106.0,990338.0,2094142.0,1509438.45,92947.0,1.471294e+09
2,1631,0.0,1393561.0,140206.0,122638.00,13321.0,2.157773e+08
3,2731,0.0,739512.0,204651.0,944430.00,33984.0,1.099649e+08
4,6164,2082751.0,12497886.0,487896.0,2248230.77,102404.0,2.291697e+08

In [20]:
progress.value += 1

### investigate categoricals in the wells table

In [21]:
aggfunc = {'api_no':pd.Series.nunique}
df_wells.pivot_table(index='well_type_cd', values=['api_no'], aggfunc=aggfunc,  observed=False)

              api_no
well_type_cd
AI               170
DG              5845
DH                17
GAS                2
GD               153
GS               600
INJ               62
LG                 6
Multi              6
OB              5809
OG            135421
PM               227
SC             24670
SF             14372
UNK             5773
WD              3136
WF             14365
WS               269

In [22]:
# Same fix for wells as the MV data above, Destination table has well type code of 2 chars, so fix the "Multi" ones
df_wells.loc[df_wells['well_type_cd'] == 'Multi', 'well_type_cd'] = 'ML'
df_wells.loc[df_wells['well_type_cd'] == 'GAS', 'well_type_cd'] = 'DG'

# I'm going to call all the INJ well types Cyclic Steam for now, they were corrected in later years (ex. 040192614700 has INJ in 2019, then SF in 2024)
df_wells.loc[df_wells['well_type_cd'] == 'INJ', 'well_type_cd'] = 'SC'
df_wells.loc[df_wells['well_type_cd'] == 'UNK', 'well_type_cd'] = None
df_wells.pivot_table(index='well_type_cd', values=['api_no'], aggfunc=aggfunc,  observed=False)

              api_no
well_type_cd
AI               170
DG              5845
DH                17
GD               153
GS               600
LG                 6
ML                 6
OB              5809
OG            135421
PM               227
SC             24732
SF             14372
WD              3136
WF             14365
WS               269

In [23]:
df_wells.pivot_table(index='PoolWellTypeStatus', values=['api_no'], aggfunc=aggfunc,  observed=False)

                    api_no
PoolWellTypeStatus
Abeyance                 9
Active               67593
Canceled              2716
Idle                 42573
New                   1007
Plugged                  3
PluggedOnly          87459
Unknown              11154

In [24]:
df_wells.pivot_table(index='well_status', values=['api_no'], aggfunc=aggfunc,  observed=False)

             api_no
well_status
Abeyance          1
Active        68777
Canceled       2431
Idle          39066
New            4957
Plugged       79667
PluggedOnly     117
Unknown        1679

In [25]:
df_wells.pivot_table(index='district', values=['api_no'], aggfunc=aggfunc,  observed=False)

          api_no
district
Coastal    18389
Inland    152400
Northern    5442
Southern   20463

In [26]:
df_wells.pivot_table(index='loc_bm', values=['api_no'], aggfunc=aggfunc,  observed=False)

        api_no
loc_bm
H           71
MD      152817
SB       43806

In [27]:
df_wells.pivot_table(index='operator_status', values=['api_no'], aggfunc=aggfunc,  observed=False)

                         api_no
operator_status
Active                   186554
Bankruptcy/Receivership     154
Inactive                   2253
Unknown                    7734

In [28]:
progress.value += 1


## Add helper columns

### First up is the calculated `IsActive` column which is going to be based on volumes
Note that Estimated volumes ar ealso valid, particularly on injectors

**TODO**: the wells can have  production volumes across multiple api_key values, and the record type 'Estimated', so it would not be correct to have multiple well completions all reporting production days - that should really stay at the well head, aka the top level API. So need a check at the end for active_days > dats in the record month and set them to the record month day count

In [29]:
# Creating our own Active flag based on Reported volumes and activity
df['IsActive'] = (df['water_disposition']>0) | (df['oil_prod_vol_bbl']>0) | (df['gas_prod_vol_mcf']>0) | (df['water_stm_inj_vol_bbl']>0) | (df['gas_inj_vol_mcf']>0) | (df['water_stm_inj_vol_bbl']>0) | (df['water_source']>0)
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,<NA>,<NA>,<NA>,Estimated,0,<NA>
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,<NA>,<NA>,Reported,1,True
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>

### Then add the actual `active_days` field, which is a corrected Production + Injection prod_days field

In [30]:
df['active_days'] = df['prod_days'].where(df['IsActive'] == True, 0).fillna(0) + df['inj_days'].where(df['IsActive'] == True, 0).fillna(0)
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,<NA>,<NA>,Reported,1,True,1.0
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,3.0
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,2.0
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0

### Create new status field that will be used going forward since the provided one is frequently inaccurate

In [31]:
# There are some wells that have an incorrect Idle status set while they are still injecting so overwrite that with the correct status of 'Active'
df['well_status2'] = df['well_status']
df.loc[df['IsActive'], 'well_status2'] = 'Active'
df.loc[df['IsActive']==False, 'well_status2'] = 'Inactive'
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Active
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,<NA>,<NA>,Reported,1,True,1.0,Active
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,3.0,Active
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,2.0,Active
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,<NA>,<NA>,Reported,1,True,1.0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Idle
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Idle
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Idle
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Idle
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,<NA>,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,<NA>,<NA>,<NA>,Estimated,0,<NA>,0.0,Idle

In [32]:
progress.value += 1

# Wells table: Resolve some of the NULL values
## Use imputation if there are multiple entries for an api_no, otherwise set it to '00'

In [33]:
well_row_count = len(df_wells)
print(f"well_type_cd NULL row count {sum(df_wells['well_type_cd'].isna()):,} ({sum(df_wells['well_type_cd'].isna())/well_row_count:.0%})")

fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation, we can skip 'well_status' as a groupby since they appear to have the same NULL occurances
df_wells['well_type_cd'] = df_wells['well_type_cd'].fillna(df_wells.groupby(['api_no','field_code','area_code'])['well_type_cd'].transform(fn_well_type))
print(f"well_type_cd NULL row count {sum(df_wells['well_type_cd'].isna()):,} ({sum(df_wells['well_type_cd'].isna())/well_row_count:.1%})")
progress.value += 1

well_type_cd NULL row count 5,773 (3%)
well_type_cd NULL row count 512 (0.2%)

In [34]:
df_wells['well_type_cd'] = df_wells['well_type_cd'].fillna(df_wells.groupby(['api_no','field_code'])['well_type_cd'].transform(fn_well_type))
print(f"well_type_cd NULL row count {sum(df_wells['well_type_cd'].isna()):,} ({sum(df_wells['well_type_cd'].isna())/well_row_count:.1%})")
progress.value += 1

well_type_cd NULL row count 239 (0.1%)

In [35]:
if sum(df_wells['well_type_cd'].isna()) > 0:
    df_wells['well_type_cd'] = df_wells['well_type_cd'].fillna(df_wells.groupby(['api_no'])['well_type_cd'].transform(fn_well_type))
    print(f"well_type_cd NULL row count {sum(df_wells['well_type_cd'].isna()):,} ({sum(df_wells['well_type_cd'].isna())/well_row_count:.1%})")
progress.value += 1

well_type_cd NULL row count 178 (0.1%)

In [36]:
# Fill any remaining NULLs with '00'
if sum(df_wells['well_type_cd'].isna()) > 0:
    df_wells['well_type_cd'] = df_wells['well_type_cd'].fillna('00')
    print(f"well_type_cd NULL row count {sum(df_wells['well_type_cd'].isna()):,} ({sum(df_wells['well_type_cd'].isna())/well_row_count:.1%})")
progress.value += 1

well_type_cd NULL row count 0 (0.0%)

In [37]:
# Finally, make sure everything is a 2 letter code, or it will fail later b/c destination table has CHAR(2)
assert(len(df_wells[df_wells['well_type_cd'].str.len() > 2]) == 0)

# Monthly Values:  Resolve some of the NULL values by imputation

In [38]:
# There are some records that go null in the middle of the year, not sure why - going to fill NAs with the most common value for the well table
mv_row_count = len(df['api_no'])
print(f"monthly volume total row count {mv_row_count:,}")
print(f"well_type_cd NULL row count {sum(df['well_type_cd'].isna()):,} ({sum(df['well_type_cd'].isna())/mv_row_count:.0%})")
print(f"well_status NULL count {sum(df['well_status'].isna()):,} ({sum(df['well_status'].isna())/mv_row_count:.0%})")
print(f"water_disposition NULL count {sum(df['water_disposition'].isna()):,} ({sum(df['water_disposition'].isna())/mv_row_count:.0%})")
print(f"MO NULL count {sum(df['well_mo'].isna()):,} ({sum(df['well_mo'].isna())/mv_row_count:.0%})")
print(f"water_kind NULL count {sum(df['water_kind'].isna()):,} ({sum(df['water_kind'].isna())/mv_row_count:.0%})")
print(f"water_source NULL count {sum(df['water_source'].isna()):,} ({sum(df['water_source'].isna())/mv_row_count:.0%})")

monthly volume total row count 1,461,160
well_type_cd NULL row count 0 (0%)
well_status NULL count 0 (0%)
water_disposition NULL count 625,209 (43%)
MO NULL count 587,781 (40%)
water_kind NULL count 1,242,461 (85%)
water_source NULL count 1,242,457 (85%)

### Monthly Values: Impute with well_type_cd : group by api_no/field_code/area_code/pool_code
While looking through the data (when trying to see if I could do a set_index on the DataFrame),
I found that this grouping mainly identified common well data, though not 100% it reduces a lot of the monthly data noise

In [39]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation, we can skip 'well_status' as a groupby since they appear to have the same NULL occurances
if df['well_type_cd'].isna().sum() > 0:
    df['well_type_cd'] = df['well_type_cd'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['well_type_cd'].transform(fn_well_type))
    print(f"well_type_cd NULL row count {sum(df['well_type_cd'].isna()):,} ({sum(df['well_type_cd'].isna())/mv_row_count:.0%})")

progress.value += 1

In [40]:
# This is the best it gets with this grouping by api_no and attributes, going all the way down to api_no only gives the same result
if df['well_type_cd'].isna().sum() > 0:
    df['well_type_cd'] = df['well_type_cd'].fillna(df.groupby(['api_no','field_code','area_code'])['well_type_cd'].transform(fn_well_type))
    print(f"well_type_cd NULL row count {sum(df['well_type_cd'].isna()):,} ({sum(df['well_type_cd'].isna())/mv_row_count:.0%})")

progress.value += 1

In [41]:
# Finally, make sure everything is a 2 letter code, or it will fail later b/c destination table has CHAR(2)
assert(len(df[df['well_type_cd'].str.len() > 2]) == 0)

### Monthly Values: Impute with well_status : group by api_no/field_code/area_code/pool_code

In [42]:
print(f"Current well status NULL counts: {df['well_status'].isna().sum()}")
print(f"Current well status 2 NULL counts: {df['well_status2'].isna().sum()}")
df['well_status'].value_counts()

Current well status NULL counts: 0
Current well status 2 NULL counts: 0

well_status
Active         797803
Idle           638294
Plugged         22447
New              2222
Canceled          265
PluggedOnly        87
Abeyance           30
Unknown            12
Name: count, dtype: int64

In [43]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# I don't want to impute well_status from other records like I did for well_type, since this is really just an indicator of whether the well is active or not
# First imputation
if df['well_status'].isna().sum() > 0:
    df['well_status'] = df['well_status'].fillna(np.where(df['IsActive'] == True, 'Active', None))
    print(f"well_status NULL row count {sum(df['well_status'].isna()):,} ({sum(df['well_status'].isna())/mv_row_count:.0%})")

progress.value += 1

### Monthly Values: Impute with water_disposition : group by api_no/field_code/area_code/pool_code

In [44]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation
df['water_disposition'] = df['water_disposition'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['water_disposition'].transform(fn_well_type))
print(f"water_disposition NULL row count {sum(df['water_disposition'].isna()):,} ({sum(df['water_disposition'].isna())/mv_row_count:.0%})")

progress.value += 1

water_disposition NULL row count 303,208 (21%)

In [45]:
# this is as good as it gets
df['water_disposition'] = df['water_disposition'].fillna(df.groupby(['api_no','field_code','area_code'])['water_disposition'].transform(fn_well_type))
print(f"water_disposition NULL row count {sum(df['water_disposition'].isna()):,} ({sum(df['water_disposition'].isna())/mv_row_count:.0%})")
progress.value += 1

water_disposition NULL row count 299,987 (21%)

### Monthly Values: Impute with MO : group by api_no/field_code/area_code/pool_code

In [46]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation
df['well_mo'] = df['well_mo'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['well_mo'].transform(fn_well_type))
print(f"MO NULL row count {sum(df['well_mo'].isna()):,} ({sum(df['well_mo'].isna())/mv_row_count:.0%})")
progress.value += 1

MO NULL row count 277,589 (19%)

In [47]:
# this is as good as it gets
df['well_mo'] = df['well_mo'].fillna(df.groupby(['api_no','field_code','area_code'])['well_mo'].transform(fn_well_type))
print(f"MO NULL row count {sum(df['well_mo'].isna()):,} ({sum(df['well_mo'].isna())/mv_row_count:.0%})")
progress.value += 1

MO NULL row count 275,245 (19%)

### Monthly Values: Impute with WATKIND : group by api_no/field_code/area_code/pool_code

In [48]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation
df['water_kind'] = df['water_kind'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['water_kind'].transform(fn_well_type))
print(f"water_kind NULL row count {sum(df['water_kind'].isna()):,} ({sum(df['water_kind'].isna())/mv_row_count:.0%})")
progress.value += 1

water_kind NULL row count 1,142,269 (78%)

In [49]:
# this is as good as it gets
df['water_kind'] = df['water_kind'].fillna(df.groupby(['api_no','field_code','area_code'])['water_kind'].transform(fn_well_type))
print(f"water_kind NULL row count {sum(df['water_kind'].isna()):,} ({sum(df['water_kind'].isna())/mv_row_count:.0%})")
progress.value += 1

water_kind NULL row count 1,140,984 (78%)

### Monthly Values: Impute with water_source : group by api_no/field_code/area_code/pool_code

In [50]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation
df['water_source'] = df['water_source'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['water_source'].transform(fn_well_type))
print(f"water_source NULL row count {sum(df['water_source'].isna()):,} ({sum(df['water_source'].isna())/mv_row_count:.0%})")
progress.value += 1

water_source NULL row count 1,142,269 (78%)

In [51]:
# this is as good as it gets
df['water_source'] = df['water_source'].fillna(df.groupby(['api_no','field_code','area_code'])['water_source'].transform(fn_well_type))
print(f"water_source NULL row count {sum(df['water_source'].isna()):,} ({sum(df['water_source'].isna())/mv_row_count:.0%})")
progress.value += 1

water_source NULL row count 1,140,984 (78%)

In [52]:
# This idea fell by the wayside since CalGEM actually just aggregates all the api_no data together for their charts etc.
# I thought I could add an api_key helper column to the wells table, to use this as a DataFrame index later but there's too much noise
# Note that the monthly vol table already has this created from the SQL
# the api_key is api_no+field_code+area_code+pool_code
#df_wells['api_key'] = df_wells['api_no'] + "-" + df_wells['field_code'] +"-" + df_wells['area_code'] + "-" + df_wells['pool_code'] + "-" + df_wells['well_type_cd']
#df_wells

In [53]:
# after we've filled in the blanks at the well level, some categorical fields with NaN can be set to zero, which means "Not Applicable"
# I need all the categoricals to not have NULLs before I do the CHANGED column calculations below, NaN throws off the CHANGED calc
df['well_status']       = df['well_status'].fillna("00")
df['well_type_cd']      = df['well_type_cd'].fillna("00") # this needs to be a string to match the rest of the
df['water_disposition'] = df['water_disposition'].fillna(0)
df['well_mo']           = df['well_mo'].fillna(0)
df['water_source']      = df['water_source'].fillna(0)
df['water_kind']        = df['water_kind'].fillna(0)

# This field will always either be Reported or Estimated. If it's empty, then Estimated.
df['rep_or_est'] = df['rep_or_est'].fillna('Estimated')

# All the categoricals should be non-null at this point, which is import for checking for changes in the next section
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461160 entries, 0 to 1461159
Data columns (total 33 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   api_no                 1461160 non-null  object
 1   api_no_int             1461160 non-null  int64
 2   prod_inj_date          1461160 non-null  object
 3   vol_month              1461160 non-null  int64
 4   vol_year               1461160 non-null  int64
 5   casing_psi             1029633 non-null  Int64
 6   prod_or_inj            1461160 non-null  int64
 7   tubing_psi             867657 non-null   Int64
 8   gas_btu                861710 non-null   Int64
 9   well_mo                1461160 non-null  Int64
 10  oil_api_grav           868692 non-null   float64
 11  surf_inj_press_psi     222958 non-null   Int64
 12  oil_prod_vol_bbl       1010570 non-null  float64
 13  prod_days              873379 non-null   float64
 14  gas_prod_vol_mcf       1010570 non-null  float64
 15  water_prod_vol_mcf     1010570 non-null  float64
 16  gas_inj_vol_mcf        490111 non-null   float64
 17  water_stm_inj_vol_bbl  490111 non-null   float64
 18  inj_days               223203 non-null   float64
 19  report_type            1461160 non-null  object
 20  field_code             1461160 non-null  object
 21  area_code              1461160 non-null  object
 22  pool_code              1461160 non-null  object
 23  well_type_cd           1461160 non-null  object
 24  well_status            1461160 non-null  object
 25  water_disposition      1461160 non-null  Int64
 26  water_source           1461160 non-null  Int64
 27  water_kind             1461160 non-null  Int64
 28  rep_or_est             1461160 non-null  object
 29  rep_or_est_cd          1461160 non-null  int64
 30  IsActive               876343 non-null   boolean
 31  active_days            1461160 non-null  float64
 32  well_status2           1461160 non-null  object
dtypes: Int64(8), boolean(1), float64(9), int64(5), object(10)
memory usage: 370.7+ MB

In [54]:
# Add some helper columns, these will calculate when the monthly attributes change during the year
# note - first the data needs to be sorted by well ID and then date, and then we're effectively doing a Partition style calculation using python
df.sort_values(by=['api_no','prod_inj_date'], inplace=True)

# a_itr should be a groupby iterator for a specific col to pivot and a col to iterate over
# a_col_name should be an existing column in the original pre-groupby DataFrame to populate, similar to what a Transform method would do
# a_df is the dataframe to make the changes into
# also everything should be sorted in the order it's going to be grouped and checked for changes; in this case, api_no and prod_inj_date
# NOTE: this methodology is obsolete
#   this takes about 20 minutes to run all the changed categories with a full year's data - using vectorized transforms takes about 4 min
def flag_changes( a_itr, a_col_name, a_df):
    idx = 0
    for i in a_itr:
        last_x = None
        s = f"{i[0]}: "
        n = 0
        for x in i[1]:
            s = f"{s} {x}"

            if n == 0:
                # first row of the group is always False
                a_df.loc[idx, a_col_name] = False
            else:
                # now do the change test
                a_df.loc[idx, a_col_name] = (x != last_x)

            # save this one for the next loop
            last_x = x
            n = n + 1
            idx = idx + 1

        if idx < 10: print(s)


df['well_status_CHANGED']   = None
df['well_type_cd_CHANGED']  = None
df['rep_or_est_CHANGED']    = None

# it's worth noting that if any of these are numeric data types, I can do the following to more quickly process:
# test_df['measure_change'] = test_df.groupby('item')['measure'].diff().fillna(0) != 0

#df['report_type_CHANGED']    = None
#it = df.groupby('api_no')['report_type']
#FlagChanges( it, 'report_type_CHANGED', df)
#df['report_type_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

#df['pool_code_CHANGED']      = None
#it = df.groupby('api_no')['pool_code']
#FlagChanges( it, 'pool_code_CHANGED', df)
#df['pool_code_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

it = df.groupby('api_no')['well_status2'] # use the imputed/updated well_status2
#FlagChanges( it, 'well_status_CHANGED', df)
df['well_status_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))
progress.value += 2

it = df.groupby('api_no')['well_type_cd']
#FlagChanges( it, 'well_type_cd_CHANGED', df)
df['well_type_cd_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))
progress.value += 2

#df['water_disposition_CHANGED']       = None
#it = df.groupby('api_no')['water_disposition']
#FlagChanges( it, 'water_disposition_CHANGED', df)
#df['water_disposition_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

#df['well_mo_CHANGED']            = None
#it = df.groupby('api_no')['well_mo']
#FlagChanges( it, 'well_mo_CHANGED', df)
#df['well_mo_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

#df['water_source_CHANGED']        = None
#it = df.groupby('api_no')['water_source']
#FlagChanges( it, 'water_source_CHANGED', df)
#df['water_source_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

#df['water_kind_CHANGED']       = None
#it = df.groupby('api_no')['water_kind']
#FlagChanges( it, 'water_kind_CHANGED', df)
#df['water_kind_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))

it = df.groupby('api_no')['rep_or_est']
#FlagChanges( it, 'rep_or_est_CHANGED', df)
df['rep_or_est_CHANGED'] = it.transform(lambda x: (x != x.shift()) & (x.shift().notna()))
progress.value += 2

df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False

In [55]:
# In some instances, the regulatory data is a bit of a mess, for example this well is tagged as "Idle" even though the operator is reporting injection activity
# This checks the custom logic above for a well that is marked as "IDLE" but has injection volumes and prod_days
# my hypothesis is that they were trying to tag "IDLE" for wells that went idle during the year, but messed up the status somehow... for example this well was active for 3 months, then has NULL as status when it's actually Idle
# operationally, it wouldn't have been P&A'ed so quickly after being steam injected either, I think that would be quite dangerous
df[df['api_no'] == '040012003100']

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED
72,040012003100,40012003100,2018-01-31,1,2018,<NA>,1,<NA>,<NA>,0,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,1914.0,31.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,31.0,Active,False,False,False
73,040012003100,40012003100,2018-02-28,2,2018,0,1,<NA>,<NA>,0,NaN,415,NaN,NaN,NaN,NaN,0.0,0.0,28.0,OG110B,404,00,05,WD,Idle,0,1,2,Reported,1,True,28.0,Active,False,False,False
74,040012003100,40012003100,2018-03-31,3,2018,0,1,<NA>,<NA>,0,NaN,415,NaN,NaN,NaN,NaN,0.0,0.0,31.0,OG110B,404,00,05,WD,Idle,0,1,2,Reported,1,True,31.0,Active,False,False,False
75,040012003100,40012003100,2018-04-30,4,2018,0,1,<NA>,<NA>,0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,404,00,05,WD,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,True,False,False
76,040012003100,40012003100,2018-05-31,5,2018,0,1,<NA>,<NA>,0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,404,00,05,WD,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,False,False,False
77,040012003100,40012003100,2018-06-30,6,2018,0,1,<NA>,<NA>,0,NaN,0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,OG110B,404,00,05,WD,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,False,False,False
78,040012003100,40012003100,2018-07-31,7,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,717.0,31.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,31.0,Active,True,False,False
79,040012003100,40012003100,2018-08-31,8,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,889.0,31.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,31.0,Active,False,False,False
80,040012003100,40012003100,2018-09-30,9,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,1030.0,30.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,30.0,Active,False,False,False
81,040012003100,40012003100,2018-10-31,10,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,1157.0,31.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,31.0,Active,False,False,False
82,040012003100,40012003100,2018-11-30,11,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,1181.0,30.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,30.0,Active,False,False,False
83,040012003100,40012003100,2018-12-31,12,2018,0,1,<NA>,<NA>,0,NaN,160,NaN,NaN,NaN,NaN,0.0,1252.0,31.0,OG110B,404,00,05,WD,Idle,0,1,1,Reported,1,True,31.0,Active,False,False,False

In [56]:
df_test = df.groupby(['api_no', 'api_no_int', 'report_type', 'pool_code', 'well_type_cd', 'well_status', 'rep_or_est'], dropna=False, observed=True).agg(OilProdTotal=('oil_prod_vol_bbl','sum'),GasProdTotal=('gas_prod_vol_mcf','sum'),GasInjTotal=('gas_inj_vol_mcf','sum'),WaterInjTotal=('water_stm_inj_vol_bbl','sum'),active_days=('active_days','sum'))
df_test

                                                                                    OilProdTotal  \
api_no       api_no_int  report_type pool_code well_type_cd well_status rep_or_est
040010000100 40010000100 OG110       00        OG           Active      Estimated           0.00
                                                                        Reported            4.00
                                                            Idle        Reported            0.00
040012000400 40012000400 OG110       00        OG           Active      Estimated         104.12
                                                                        Reported         1112.00
...                                                                                          ...
042832028600 42832028600 OG110       03        OG           Idle        Estimated           0.00
042832028800 42832028800 OG110       03        OG           Idle        Estimated           0.00
042832028801 42832028801 OG110       03        OG           Idle        Estimated           0.00
042832028900 42832028900 OG110       03        OG           Idle        Estimated           0.00
042832029000 42832029000 OG110       03        OG           Idle        Estimated           0.00

                                                                                    GasProdTotal  \
api_no       api_no_int  report_type pool_code well_type_cd well_status rep_or_est
040010000100 40010000100 OG110       00        OG           Active      Estimated           0.00
                                                                        Reported            0.00
                                                            Idle        Reported            0.00
040012000400 40012000400 OG110       00        OG           Active      Estimated           6.44
                                                                        Reported          108.00
...                                                                                          ...
042832028600 42832028600 OG110       03        OG           Idle        Estimated           0.00
042832028800 42832028800 OG110       03        OG           Idle        Estimated           0.00
042832028801 42832028801 OG110       03        OG           Idle        Estimated           0.00
042832028900 42832028900 OG110       03        OG           Idle        Estimated           0.00
042832029000 42832029000 OG110       03        OG           Idle        Estimated           0.00

                                                                                    GasInjTotal  \
api_no       api_no_int  report_type pool_code well_type_cd well_status rep_or_est
040010000100 40010000100 OG110       00        OG           Active      Estimated           0.0
                                                                        Reported            0.0
                                                            Idle        Reported            0.0
040012000400 40012000400 OG110       00        OG           Active      Estimated           0.0
                                                                        Reported            0.0
...                                                                                         ...
042832028600 42832028600 OG110       03        OG           Idle        Estimated           0.0
042832028800 42832028800 OG110       03        OG           Idle        Estimated           0.0
042832028801 42832028801 OG110       03        OG           Idle        Estimated           0.0
042832028900 42832028900 OG110       03        OG           Idle        Estimated           0.0
042832029000 42832029000 OG110       03        OG           Idle        Estimated           0.0

                                                                                    WaterInjTotal  \
api_no       api_no_int  report_type pool_code well_type_cd well_status rep_or_est
040010000100 40010000100 OG110       00        OG           Active      Estimated             0.0
                                                                        Reported              0.0
                                                            Idle        Reported              0.0
040012000400 40012000400 OG110       00        OG           Active      Estimated             0.0
                                                                        Reported              0.0
...                                                                                           ...
042832028600 42832028600 OG110       03        OG           Idle        Estimated             0.0
042832028800 42832028800 OG110       03        OG           Idle        Estimated             0.0
042832028801 42832028801 OG110       03        OG           Idle        Estimated             0.0
042832028900 42832028900 OG110       03        OG           Idle        Estimated             0.0
042832029000 42832029000 OG110       03        OG           Idle        Estimated             0.0

                                                                                    active_days
api_no       api_no_int  report_type pool_code well_type_cd well_status rep_or_est
040010000100 40010000100 OG110       00        OG           Active      Estimated           0.0
                                                                        Reported            7.0
                                                            Idle        Reported            3.0
040012000400 40012000400 OG110       00        OG           Active      Estimated           0.0
                                                                        Reported          333.0
...                                                                                         ...
042832028600 42832028600 OG110       03        OG           Idle        Estimated           0.0
042832028800 42832028800 OG110       03        OG           Idle        Estimated           0.0
042832028801 42832028801 OG110       03        OG           Idle        Estimated           0.0
042832028900 42832028900 OG110       03        OG           Idle        Estimated           0.0
042832029000 42832029000 OG110       03        OG           Idle        Estimated           0.0

[216362 rows x 5 columns]

In [57]:
df_test = df.groupby('api_no').agg(active_days=('active_days','sum'))
df_test

              active_days
api_no
040010000100         10.0
040012000400        333.0
040012000800          0.0
040012000801          0.0
040012000900         12.0
...                   ...
042832028600          0.0
042832028800          0.0
042832028801          0.0
042832028900          0.0
042832029000          0.0

[114421 rows x 1 columns]

In [58]:
# So far, many of these monthly attributes like report_type and field_code aren't changing over the year - will need to confirm with full dataset over each year
#df['report_type_CHANGED'].value_counts()
#df['pool_code_CHANGED'].value_counts()
#df['water_disposition_CHANGED'].value_counts()
#df['well_mo_CHANGED'].value_counts()
#df['water_source_CHANGED'].value_counts()
#df['water_kind_CHANGED'].value_counts()
#df['rep_or_est_CHANGED'].value_counts()

In [59]:
df['well_type_cd_CHANGED'].value_counts()

well_type_cd_CHANGED
False    1221726
True      239434
Name: count, dtype: int64

In [60]:
# remember this is well_status2
df['well_status_CHANGED'].value_counts()

well_status_CHANGED
False    1373358
True       87802
Name: count, dtype: int64

In [61]:
df['rep_or_est_CHANGED'].value_counts()

rep_or_est_CHANGED
False    1139721
True      321439
Name: count, dtype: int64

### Original DOGRR data was either 0 for prod or 1 for inj record
Current data doesn't have this field, but the records are either from the Production table or the Injection table

| Code | Desc    | Explanation         |
|------|---------|---------------------|
| 0    | PROD    | Production record   |
| 1    | INJ     | Injection record    |
| 2    | Unknown | Unknown record type |

In [62]:
## Report Type Code conversion
# 0 = Production record
# 1 = Injection record
# 2 = unknown (maybe shut-in)
df['prod_inj_cd'] = "2"
df.loc[((df['water_disposition']>0) | (df['gas_inj_vol_mcf']>0) | (df['water_stm_inj_vol_bbl']>0)) & (df['rep_or_est'] == 'Reported'), 'prod_inj_cd'] = "1"
df.loc[((df['oil_prod_vol_bbl']>0) | (df['gas_prod_vol_mcf']>0) | (df['water_stm_inj_vol_bbl']>0) | (df['water_source']>0)) & (df['rep_or_est'] == 'Reported'), 'prod_inj_cd'] = "0"
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED,prod_inj_cd
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False,2
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True,1
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False,0
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False,0
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2

### WELL STATUS CODE conversion
in the new format, they use a whole word like "IDLE" where the older format used a single char like "I"

This is saved in `doggr.wells.well_status`

There is another field `doggr.wells.operator_status_cd` with codes `A`, `I`, `O` of which `O` only has 2 wells. Will have to come back to this but, that could be Active and Idle/Inactive also. I'm not sure why there are 2 fields in the original table.

| Well Status | Definition | Explanation                                                                                |
|-------------|------------|--------------------------------------------------------------------------------------------|
| N           | New        | Recently permitted, the well has not been drilled or completed.                            |
| B           | Buried     | Older Well, not abandoned to today’s standards, location of well may be approximate.       |
| U           | Unknown    | Status not yet entered from hard copy file. Wells are mostly older, pre-1976.              |
| A           | Active     | Well has been drilled and completed                                                        |
| C           | Cancelled  | Well permit was cancelled prior to drilling                                                |
| P           | Plugged    | Well gas been plugged and abandoned                                                        |
| I           | Idle       | Idle Well. An idle well has not produced or injected for 6 consecutive months for 2 years. |

In [63]:
# unknown status types found in the data:
# Abeyance
# PluggedOnly
# also they misspelled Cancelled...

# Create an overall Well Status single character code for the 'wells' table, which is one of the codes above
# there may be a faster way to do this, but this is easy to read
df_wells['well_status_cd'] = 'U' # start with default of Unknown
df_wells.loc[df_wells['well_status'] == 'Plugged',  'well_status_cd'] = 'P'
df_wells.loc[df_wells['well_status'] == 'Idle',     'well_status_cd'] = 'I'
df_wells.loc[df_wells['well_status'] == 'Buried',   'well_status_cd'] = 'B'
df_wells.loc[df_wells['well_status'] == 'Active',   'well_status_cd'] = 'A'
df_wells.loc[df_wells['well_status'] == 'Canceled', 'well_status_cd'] = 'C'
df_wells.loc[df_wells['well_status'] == 'New',      'well_status_cd'] = 'N'
df_wells

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd
0,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A
1,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A
2,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P
3,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I
4,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221367,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P
221368,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P
221369,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P
221370,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P
221371,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P

In [64]:
# Create an overall Well Status single character code for the 'monthly volumes' table, which is one of the codes above
# there may be a faster way to do this, but this is easy to read
df['well_status_cd'] = 'U' # start with default of Unknown
df.loc[df['well_status'] == 'Plugged',  'well_status_cd'] = 'P'
df.loc[df['well_status'] == 'Idle',     'well_status_cd'] = 'I'
df.loc[df['well_status'] == 'Buried',   'well_status_cd'] = 'B'
df.loc[df['well_status'] == 'Active',   'well_status_cd'] = 'A'
df.loc[df['well_status'] == 'Canceled', 'well_status_cd'] = 'C'
df.loc[df['well_status'] == 'New',      'well_status_cd'] = 'N'
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED,prod_inj_cd,well_status_cd
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False,2,A
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True,1,I
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False,0,A
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False,0,A
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I

### WELL TYPE Conversion Codes

| No. | Well Type | Definition                             |
|:---:|:---------:|:---------------------------------------|
|  0  |    AI     | Air Injector                           |
|  1  |    DG     | Dry Gas Production                     |
|  C  |    GD     | Gas Disposal Injector                  |
|  3  |    GS     | Gas Storage Injector/Producer          |
|  5  |    LG     | Liquid Petroleum Gas Injector/Producer |
|  B  |    OB     | Observation Well                       |
|  2  |    OG     | Oil & Gas Production                   |
|  4  |    PM     | Pressure Maintenance Injector          |
|  A  |    SC     | Steam Flood Cyclic(?)                  |
|  8  |    SF     | Steam Flood Injector                   |
|  6  |    WD     | Water Disposal Injector                |
|  7  |    WF     | Water Flood Injector                   |
|  9  |    WS     | Water Source Injector                  |

In [65]:

# Unknown codes
#  DH - could be Dry Hole?
#  Multi - ???
#  UNK - literally...
#  GAS - really?
#  INJ - really?

# Type Code conversions
df_wells['well_type_no'] = 'X'  # start with default of unknown
df_wells.loc[df_wells['well_type_cd'] == 'AI', 'well_type_no'] = '0'
df_wells.loc[df_wells['well_type_cd'] == 'DG', 'well_type_no'] = '1'
df_wells.loc[df_wells['well_type_cd'] == 'GD', 'well_type_no'] = 'C'
df_wells.loc[df_wells['well_type_cd'] == 'GS', 'well_type_no'] = '3'
df_wells.loc[df_wells['well_type_cd'] == 'LG', 'well_type_no'] = '5'
df_wells.loc[df_wells['well_type_cd'] == 'OB', 'well_type_no'] = 'B'
df_wells.loc[df_wells['well_type_cd'] == 'OG', 'well_type_no'] = '2'
df_wells.loc[df_wells['well_type_cd'] == 'PM', 'well_type_no'] = '4'
df_wells.loc[df_wells['well_type_cd'] == 'SC', 'well_type_no'] = 'A'
df_wells.loc[df_wells['well_type_cd'] == 'SF', 'well_type_no'] = '8'
df_wells.loc[df_wells['well_type_cd'] == 'WD', 'well_type_no'] = '6'
df_wells.loc[df_wells['well_type_cd'] == 'WF', 'well_type_no'] = '7'
df_wells.loc[df_wells['well_type_cd'] == 'WS', 'well_type_no'] = '9'
df_wells

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd,well_type_no
0,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2
1,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2
2,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P,2
3,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,2
4,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221367,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2
221368,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2
221369,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2
221370,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1
221371,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1

In [66]:
# post-2018 operator status codes, translating them to single char for wells table
# Active
# Bankruptcy/Receivership
# Inactive
# Unknown

df_wells['operator_status_cd'] = None
df_wells.loc[df_wells['operator_status'] == 'Active', 'operator_status_cd'] = 'A'
df_wells.loc[df_wells['operator_status'] == 'Bankruptcy/Receivership', 'operator_status_cd'] = 'B'
df_wells.loc[df_wells['operator_status'] == 'Inactive', 'operator_status_cd'] = 'I'
df_wells.loc[df_wells['operator_status'] == 'Unknown', 'operator_status_cd'] = 'U'
df_wells

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd,well_type_no,operator_status_cd
0,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A
1,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A
2,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P,2,U
3,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,2,A
4,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,6,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221367,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A
221368,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A
221369,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A
221370,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A
221371,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A

In [67]:
# district codes - CalGEM redid the districts into 4, where DOGGR used to have 6
df_wells['dist_no'] = 0
df_wells.loc[df_wells['district'] == 'Coastal', 'dist_no'] = 3
df_wells.loc[df_wells['district'] == 'Inland', 'dist_no'] = 4
df_wells.loc[df_wells['district'] == 'Northern', 'dist_no'] = 6
df_wells.loc[df_wells['district'] == 'Southern', 'dist_no'] = 1
df_wells

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd,well_type_no,operator_status_cd,dist_no
0,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6
1,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6
2,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P,2,U,6
3,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,2,A,6
4,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,6,A,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221367,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
221368,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
221369,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
221370,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6
221371,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6

In [68]:
progress.value += 2

In [69]:
df_wells.columns

Index(['api_no', 'field_code', 'area_code', 'pool_code', 'well_type_cd',
       'lease_name', 'field_name', 'area_name', 'pool_name', 'well_number',
       'well_status', 'PoolWellTypeStatus', 'county', 'district',
       'loc_section', 'SubSection', 'loc_township', 'loc_range', 'loc_bm',
       'operator_cd', 'operator_name', 'operator_status', 'SystemEntryDate',
       'row_num', 'well_status_cd', 'well_type_no', 'operator_status_cd',
       'dist_no'],
      dtype='object')

In [70]:
df.columns

Index(['api_no', 'api_no_int', 'prod_inj_date', 'vol_month', 'vol_year',
       'casing_psi', 'prod_or_inj', 'tubing_psi', 'gas_btu', 'well_mo',
       'oil_api_grav', 'surf_inj_press_psi', 'oil_prod_vol_bbl', 'prod_days',
       'gas_prod_vol_mcf', 'water_prod_vol_mcf', 'gas_inj_vol_mcf',
       'water_stm_inj_vol_bbl', 'inj_days', 'report_type', 'field_code',
       'area_code', 'pool_code', 'well_type_cd', 'well_status',
       'water_disposition', 'water_source', 'water_kind', 'rep_or_est',
       'rep_or_est_cd', 'IsActive', 'active_days', 'well_status2',
       'well_status_CHANGED', 'well_type_cd_CHANGED', 'rep_or_est_CHANGED',
       'prod_inj_cd', 'well_status_cd'],
      dtype='object')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461160 entries, 0 to 1461159
Data columns (total 38 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   api_no                 1461160 non-null  object
 1   api_no_int             1461160 non-null  int64
 2   prod_inj_date          1461160 non-null  object
 3   vol_month              1461160 non-null  int64
 4   vol_year               1461160 non-null  int64
 5   casing_psi             1029633 non-null  Int64
 6   prod_or_inj            1461160 non-null  int64
 7   tubing_psi             867657 non-null   Int64
 8   gas_btu                861710 non-null   Int64
 9   well_mo                1461160 non-null  Int64
 10  oil_api_grav           868692 non-null   float64
 11  surf_inj_press_psi     222958 non-null   Int64
 12  oil_prod_vol_bbl       1010570 non-null  float64
 13  prod_days              873379 non-null   float64
 14  gas_prod_vol_mcf       1010570 non-null  float64
 15  water_prod_vol_mcf     1010570 non-null  float64
 16  gas_inj_vol_mcf        490111 non-null   float64
 17  water_stm_inj_vol_bbl  490111 non-null   float64
 18  inj_days               223203 non-null   float64
 19  report_type            1461160 non-null  object
 20  field_code             1461160 non-null  object
 21  area_code              1461160 non-null  object
 22  pool_code              1461160 non-null  object
 23  well_type_cd           1461160 non-null  object
 24  well_status            1461160 non-null  object
 25  water_disposition      1461160 non-null  Int64
 26  water_source           1461160 non-null  Int64
 27  water_kind             1461160 non-null  Int64
 28  rep_or_est             1461160 non-null  object
 29  rep_or_est_cd          1461160 non-null  int64
 30  IsActive               876343 non-null   boolean
 31  active_days            1461160 non-null  float64
 32  well_status2           1461160 non-null  object
 33  well_status_CHANGED    1461160 non-null  bool
 34  well_type_cd_CHANGED   1461160 non-null  bool
 35  rep_or_est_CHANGED     1461160 non-null  bool
 36  prod_inj_cd            1461160 non-null  object
 37  well_status_cd         1461160 non-null  object
dtypes: Int64(8), bool(3), boolean(1), float64(9), int64(5), object(12)
memory usage: 397.1+ MB

In [72]:
print(f"NULL count for df_wells['well_type_cd']: {df_wells['well_type_cd'].isna().sum():,}")

NULL count for df_wells['well_type_cd']: 0

In [73]:
# At this point, there shouldn't be any NULLs in these features
print(f"NULL api_no: {df_wells['api_no'].isna().sum():,}")
print(f"NULL field_code: {df_wells['field_code'].isna().sum():,}")
print(f"NULL area_code: {df_wells['area_code'].isna().sum():,}")
print(f"NULL pool_code: {df_wells['pool_code'].isna().sum():,}")
print(f"NULL well_type_cd: {df_wells['well_type_cd'].isna().sum():,}")
print(f"NULL well_status_cd: {df_wells['well_status_cd'].isna().sum():,}")

NULL api_no: 0
NULL field_code: 0
NULL area_code: 0
NULL pool_code: 0
NULL well_type_cd: 0
NULL well_status_cd: 0

In [74]:
# At this point, there shouldn't be any NULLs in these features
print(f"NULL api_no: {df['api_no'].isna().sum():,}")
print(f"NULL field_code: {df['field_code'].isna().sum():,}")
print(f"NULL area_code: {df['area_code'].isna().sum():,}")
print(f"NULL pool_code: {df['pool_code'].isna().sum():,}")
print(f"NULL well_type_cd: {df['well_type_cd'].isna().sum():,}")
print(f"NULL well_status_cd: {df['well_status'].isna().sum():,}")

NULL api_no: 0
NULL field_code: 0
NULL area_code: 0
NULL pool_code: 0
NULL well_type_cd: 0
NULL well_status_cd: 0

## Imputation & NULL checks finished, now create the indexes

In [75]:
# Figure out what combination of attributes identifies a well uniquely between the 2 tables
# I'm not convinced this is necessary, I may be trying to preserve too much information

# NOTE to future self - there are well table entries that have duplicate 'SystemEntryDate' at different times. so the partition query in the original load removes those
# Otherwise, for 2019 data at least, this gives a unique set of well rows for inserting, and combining with the monthly data
df_wells['APIKey1'] = df_wells['api_no']  + "-" + df_wells['field_code']  + "-" + df_wells['area_code']  + "-" + df_wells['pool_code']  + "-" + df_wells['well_type_cd']
#df_wells['APIKey2'] = df_wells['APIKey1'] + "-" + df_wells['well_status_cd']

# Same for the monthly values, although these won't be unique row indices because of the dates
# This will be used to pivot and then join some data together later, as well as receive the UNIQUE ID/PRIMARY KEY from MySQL on insert of the well
df['APIKey1'] = df['api_no']  + "-" + df['field_code']  + "-" + df['area_code']  + "-" + df['pool_code']  + "-" + df['well_type_cd']

progress.value += 2

In [76]:
# Confirm we don't have any NULL keys/indexes
print(f"Count of NULL df['APIKey1'] values: {df['APIKey1'].isna().sum():,}")
assert(df['APIKey1'].isna().sum() == 0)

Count of NULL df['APIKey1'] values: 0

In [77]:
# Show the rows where APIKey1 != APIKey2, I can probably consolidate these somehow
assert(df_wells['APIKey1'].isna().sum() == 0)
df_wells.set_index('APIKey1', verify_integrity=True, inplace=True)

In [78]:
# Set this index, this confirms that we have a unique set of wells
df_wells

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd,well_type_no,operator_status_cd,dist_no
APIKey1,,,,,,,,,,,,,,,,,,,,,,,,,,,,
040010000100-404-00-00-OG,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6
040012000400-404-00-00-OG,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6
040012000500-404-00-00-OG,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P,2,U,6
040012000800-404-00-00-OG,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,2,A,6
040012000800-404-00-05-WD,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,6,A,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
042832158400-118-00-00-OG,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
042832158500-118-00-00-OG,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
042832158600-118-00-00-OG,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3
042952006000-634-03-00-DG,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6
042952006400-634-03-00-DG,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6

In [79]:
df[df['APIKey1'] == '040010000100-404-00-00-OG']

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED,prod_inj_cd,well_status_cd,APIKey1
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False,2,A,040010000100-404-00-00-OG
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True,1,I,040010000100-404-00-00-OG
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False,0,A,040010000100-404-00-00-OG
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False,0,A,040010000100-404-00-00-OG
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1,A,040010000100-404-00-00-OG
5,040010000100,40010000100,2018-06-30,6,2018,0,0,0,0,0,0.0,<NA>,0.0,0.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,True,False,False,2,I,040010000100-404-00-00-OG
6,040010000100,40010000100,2018-07-31,7,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,True,False,False,1,I,040010000100-404-00-00-OG
7,040010000100,40010000100,2018-08-31,8,2018,0,0,0,0,0,0.0,<NA>,0.0,0.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,True,False,False,2,I,040010000100-404-00-00-OG
8,040010000100,40010000100,2018-09-30,9,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,True,False,False,1,I,040010000100-404-00-00-OG
9,040010000100,40010000100,2018-10-31,10,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,7.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1,A,040010000100-404-00-00-OG
10,040010000100,40010000100,2018-11-30,11,2018,0,0,0,0,0,0.0,<NA>,0.0,0.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,True,False,False,2,I,040010000100-404-00-00-OG
11,040010000100,40010000100,2018-12-31,12,2018,0,0,0,0,0,0.0,<NA>,0.0,0.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,0,0,0,Reported,1,<NA>,0.0,Idle,False,False,False,2,I,040010000100-404-00-00-OG

In [80]:
df_wells.loc['040010000100-404-00-00-OG']

api_no                                                  040010000100
field_code                                                       404
area_code                                                         00
pool_code                                                         00
well_type_cd                                                      OG
lease_name                               Greenville Investment Group
field_name                                                 Livermore
area_name                                                   Any Area
pool_name                                          No Pool Breakdown
well_number                                                        1
well_status                                                   Active
PoolWellTypeStatus                                            Active
county                                                       Alameda
district                                                    Northern
loc_section                                                       07
SubSection                                                      None
loc_township                                                     03S
loc_range                                                        03E
loc_bm                                                            MD
operator_cd                                                    E0100
operator_name         E & B Natural Resources Management Corporation
operator_status                                               Active
SystemEntryDate                           2018-04-27 02:42:42.483000
row_num                                                            1
well_status_cd                                                     A
well_type_no                                                       2
operator_status_cd                                                 A
dist_no                                                            6
Name: 040010000100-404-00-00-OG, dtype: object

In [81]:
df['APIKey1'].nunique()

142503

In [82]:
df_wells.index.nunique()

221372

In [83]:
progress.value += 1

# Do 2 Joins, one left to df_wells with pivotted df, and one left to df from df_wells.
The `df_wells_from_mv` will be the used one, and combines monthly total data from `df` and then is added to `df_wells` for inserting into the db. The other join `df_from_wells` is a test join to see if any monthly records don't have an equivalent `df_wells` entry, so those would be orphaned monthly records.

In [84]:
# Here I'm bringing
df_from_wells = pd.merge(df, df_wells[['api_no']], how='left', left_on='APIKey1', right_index=True)
progress.value += 1
df_from_wells

,api_no_x,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED,prod_inj_cd,well_status_cd,APIKey1,api_no_y
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False,2,A,040010000100-404-00-00-OG,040010000100
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True,1,I,040010000100-404-00-00-OG,040010000100
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False,0,A,040010000100-404-00-00-OG,040010000100
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False,0,A,040010000100-404-00-00-OG,040010000100
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1,A,040010000100-404-00-00-OG,040010000100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG,042832029000
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG,042832029000
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG,042832029000
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG,042832029000
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG,042832029000

In [85]:
start_null_key_count = df_from_wells['api_no_y'].isnull().sum()

In [86]:
print(f"Missing rows of monthly data from wells join: {start_null_key_count:,} ({start_null_key_count/len(df_from_wells):.1%})")

Missing rows of monthly data from wells join: 146,625 (10.0%)

## Solved some of the missing data in the SQL query, but the rest needs to be imputed
Going to set `APIKey1` to NULL for rows missing joined `df_wells` data and then impute the correct `APIKey1`

In [87]:
missing_apikey_list = list(df_from_wells[df_from_wells['api_no_y'].isnull()]['APIKey1'].unique())
progress.value += 1
print(f"Missing unique keys: {len(missing_apikey_list):,}")

Missing unique keys: 24,491

In [88]:
df

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,prod_or_inj,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,report_type,field_code,area_code,pool_code,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,IsActive,active_days,well_status2,well_status_CHANGED,well_type_cd_CHANGED,rep_or_est_CHANGED,prod_inj_cd,well_status_cd,APIKey1
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,0,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Estimated,0,<NA>,0.0,Active,False,False,False,2,A,040010000100-404-00-00-OG
1,040010000100,40010000100,2018-02-28,2,2018,10,0,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Idle,5,0,0,Reported,1,True,1.0,Active,False,False,True,1,I,040010000100-404-00-00-OG
2,040010000100,40010000100,2018-03-31,3,2018,10,0,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,3.0,Active,False,False,False,0,A,040010000100-404-00-00-OG
3,040010000100,40010000100,2018-04-30,4,2018,10,0,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,2.0,Active,False,False,False,0,A,040010000100-404-00-00-OG
4,040010000100,40010000100,2018-05-31,5,2018,10,0,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG110,404,00,00,OG,Active,5,0,0,Reported,1,True,1.0,Active,False,False,False,1,A,040010000100-404-00-00-OG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461155,042832029000,42832029000,2018-08-31,8,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG
1461156,042832029000,42832029000,2018-09-30,9,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG
1461157,042832029000,42832029000,2018-10-31,10,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG
1461158,042832029000,42832029000,2018-11-30,11,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG
1461159,042832029000,42832029000,2018-12-31,12,2018,<NA>,0,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG110,236,06,03,OG,Idle,0,0,0,Estimated,0,<NA>,0.0,Idle,False,False,False,2,I,042832029000-236-06-03-OG

In [89]:
# set those missing APIKey1 to NULL in df so we can easily impute the correct APIKey1:
# TODO: 2018 data gets stuck here, it ran for 34 minutes and still going, not sure why.
# TODO: 2020 data takes ~1 minute; 2021 takes ~ 5 min
df['APIKey1'] = df['APIKey1'].replace(missing_apikey_list, pd.NA)
impute_null_key_count = df['APIKey1'].isnull().sum()
print(f"NULL Count of APIKey1, should be the same number of rows above: {impute_null_key_count:,}")
assert(impute_null_key_count == start_null_key_count)
progress.value += 3

NULL Count of APIKey1, should be the same number of rows above: 146,625

In [90]:
# The simplest way to do an Excel style XLOOKUP is with a pd.merge() join call
#df = pd.merge(df, df_wells.reset_index()[['api_no','field_code','area_code','pool_code','APIKey1']],
#         how='left',
#         left_on=['api_no','field_code','area_code','pool_code'],
#         right_on=['api_no','field_code','area_code','pool_code'])
#
#df

### `df` is now ready for imputing `APIKey1` to achieve full match to df_wells
Note that here I'm imputing the missing `APIKey1` values in `df` directly from `df_wells`

In [91]:
fn_well_type = lambda x: x.mode()[0] if not x.mode().empty else np.nan # This is a lambda function to be used with the transform method on the pandas dataframe

# First imputation the usuall way, this will fill in api_key values where there was a change in the monthly data
df['APIKey2'] = df['APIKey1'].fillna(df.groupby(['api_no','field_code','area_code','pool_code'])['APIKey1'].transform(fn_well_type))
print(f"APIKey2 NULL row count {sum(df['APIKey2'].isna()):,}")
progress.value += 5

APIKey2 NULL row count 5,372

In [92]:
# Then second imputation looking up api_key from df_wells, using where() method
# The simplest way to do an Excel style XLOOKUP is with a pd.merge() join call
df = pd.merge(df, df_wells.reset_index()[['api_no','field_code','area_code','pool_code','APIKey1']],
         how='left',
         left_on=['api_no','field_code','area_code','pool_code'],
         right_on=['api_no','field_code','area_code','pool_code'])

assert(df['APIKey1_y'].isna().sum() == 0)
progress.value += 1

In [93]:
# now we can cleanup the APIKey1
df['APIKey1'] = np.where(df['APIKey2'].isnull(), df['APIKey1_y'], df['APIKey2'])

In [94]:
df.columns

Index(['api_no', 'api_no_int', 'prod_inj_date', 'vol_month', 'vol_year',
       'casing_psi', 'prod_or_inj', 'tubing_psi', 'gas_btu', 'well_mo',
       'oil_api_grav', 'surf_inj_press_psi', 'oil_prod_vol_bbl', 'prod_days',
       'gas_prod_vol_mcf', 'water_prod_vol_mcf', 'gas_inj_vol_mcf',
       'water_stm_inj_vol_bbl', 'inj_days', 'report_type', 'field_code',
       'area_code', 'pool_code', 'well_type_cd', 'well_status',
       'water_disposition', 'water_source', 'water_kind', 'rep_or_est',
       'rep_or_est_cd', 'IsActive', 'active_days', 'well_status2',
       'well_status_CHANGED', 'well_type_cd_CHANGED', 'rep_or_est_CHANGED',
       'prod_inj_cd', 'well_status_cd', 'APIKey1_x', 'APIKey2', 'APIKey1_y',
       'APIKey1'],
      dtype='object')

In [95]:
assert(df['APIKey1'].isna().sum()==0)

# if we've cleaned up all the NULL keys, then drop the helper columns
df.drop(columns=['APIKey1_x', 'APIKey2', 'APIKey1_y'], inplace=True)
progress.value += 1

In [96]:
# Create the final loadable "wells" dataset - a wells set with 1 row per well and the monthly dataset, which is basically "df" without the helper columns
# recreate the df_wells dataframe for this purpose
# in the situation of categoricals, I'm going to take the last one ordered by date (so typically whatever was in Dec of the year)

# Create the aggregate data from the monthly volumes table for adding to the wells table
# The api_key created and aligned earlier will now be the index for joining
df_wells_from_mv = (df.groupby(['APIKey1'], dropna=False, observed=True).agg(
    oil_prod_vol_bbl=('oil_prod_vol_bbl','sum'),
    gas_prod_vol_mcf=('gas_prod_vol_mcf','sum'),
    gas_inj_vol_mcf=('gas_inj_vol_mcf','sum'),
    water_stm_inj_vol_bbl=('water_stm_inj_vol_bbl','sum'),
    active_days=('active_days','sum'),
    last_well_mo=('well_mo','last'),
    prod_inj_cd=('prod_inj_cd', 'last'),
    report_type=('report_type','last'),             # Normally OG110 or OG110B, aggregate to the well level, it's not very important
    well_status_cng=('well_status_CHANGED','max'),  # max here will return True if any value is True, otherwise False if all False
    well_type_cng=('well_type_cd_CHANGED','max'))      # max here will return True if any value is True, otherwise False if all False
)

# Since there is one file/database per year, we can just take the vol_year and set it for all the records
df_wells_from_mv['YEAR_INT'] = df['vol_year'].max()
progress.value += 1

df_wells_from_mv

,oil_prod_vol_bbl,gas_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,active_days,last_well_mo,prod_inj_cd,report_type,well_status_cng,well_type_cng,YEAR_INT
APIKey1,,,,,,,,,,,
040010000100-404-00-00-OG,4.00,0.00,0.0,0.0,10.0,0,2,OG110,True,False,2018
040012000400-404-00-00-OG,1216.12,114.44,0.0,0.0,333.0,3,0,OG110,False,False,2018
040012000800-404-00-00-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
040012000801-404-00-00-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
040012000900-404-00-00-OG,35.00,3.00,0.0,0.0,12.0,3,1,OG110,True,False,2018
...,...,...,...,...,...,...,...,...,...,...,...
042832028600-236-06-03-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
042832028800-236-06-03-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
042832028801-236-06-03-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
042832028900-236-06-03-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018
042832029000-236-06-03-OG,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018

In [97]:
print(f"Index of df_wells_from_mv: {df_wells_from_mv.index.names}")
list(df_wells_from_mv.columns)

Index of df_wells_from_mv: ['APIKey1']

['oil_prod_vol_bbl',
 'gas_prod_vol_mcf',
 'gas_inj_vol_mcf',
 'water_stm_inj_vol_bbl',
 'active_days',
 'last_well_mo',
 'prod_inj_cd',
 'report_type',
 'well_status_cng',
 'well_type_cng',
 'YEAR_INT']

In [98]:
# Confirm that the pivot table now has unique rows per APIKey1 (which is now the index)
print(f"Number of non-unique APIs : {len(df_wells_from_mv) - df_wells_from_mv.index.nunique():,}")
assert(len(df_wells_from_mv) == df_wells_from_mv.index.nunique())

Number of non-unique APIs : 0

In [99]:
# now join the summary stats from the mv table for insert into the wells table
df_wells_sql = pd.merge(df_wells, df_wells_from_mv, how='left', left_on='APIKey1', right_index=True)
df_wells_sql

,api_no,field_code,area_code,pool_code,well_type_cd,lease_name,field_name,area_name,pool_name,well_number,well_status,PoolWellTypeStatus,county,district,loc_section,SubSection,loc_township,loc_range,loc_bm,operator_cd,operator_name,operator_status,SystemEntryDate,row_num,well_status_cd,well_type_no,operator_status_cd,dist_no,oil_prod_vol_bbl,gas_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,active_days,last_well_mo,prod_inj_cd,report_type,well_status_cng,well_type_cng,YEAR_INT
APIKey1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
040010000100-404-00-00-OG,040010000100,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6,4.00,0.00,0.0,0.0,10.0,0,2,OG110,True,False,2018.0
040012000400-404-00-00-OG,040012000400,404,00,00,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,Active,Active,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,A,2,A,6,1216.12,114.44,0.0,0.0,333.0,3,0,OG110,False,False,2018.0
040012000500-404-00-00-OG,040012000500,404,00,00,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,Plugged,PluggedOnly,Alameda,Northern,06,None,03S,03E,MD,A1904,American Exploration Co.,Unknown,2018-04-27 02:42:42.483,1,P,2,U,6,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
040012000800-404-00-00-OG,040012000800,404,00,00,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,Idle,Idle,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,2,A,6,0.00,0.00,0.0,0.0,0.0,0,2,OG110,False,False,2018.0
040012000800-404-00-05-WD,040012000800,404,00,05,WD,Nissen,Livermore,Any Area,Greenville,2,Idle,PluggedOnly,Alameda,Northern,07,None,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,2018-04-27 02:42:42.483,1,I,6,A,6,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
042832158400-118-00-00-OG,042832158400,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
042832158500-118-00-00-OG,042832158500,118,00,00,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
042832158600-118-00-00-OG,042832158600,118,00,00,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,Plugged,PluggedOnly,Santa Barbara Offshore,Coastal,17,None,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,2,A,3,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
042952006000-634-03-00-DG,042952006000,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,Plugged,PluggedOnly,Solano Offshore,Northern,30,None,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN
042952006400-634-03-00-DG,042952006400,634,03,00,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,Plugged,PluggedOnly,Solano Offshore,Northern,25,None,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,2018-04-27 02:42:42.483,1,P,1,A,6,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN

In [100]:
# The non-nonunique should now be zero
print(f"Number of non-unique APIs : {len(df_wells_sql) - df_wells_sql.index.nunique():,}")
assert(len(df_wells_sql) == df_wells_sql.index.nunique())

Number of non-unique APIs : 0

In [101]:
df_wells_sql.columns

Index(['api_no', 'field_code', 'area_code', 'pool_code', 'well_type_cd',
       'lease_name', 'field_name', 'area_name', 'pool_name', 'well_number',
       'well_status', 'PoolWellTypeStatus', 'county', 'district',
       'loc_section', 'SubSection', 'loc_township', 'loc_range', 'loc_bm',
       'operator_cd', 'operator_name', 'operator_status', 'SystemEntryDate',
       'row_num', 'well_status_cd', 'well_type_no', 'operator_status_cd',
       'dist_no', 'oil_prod_vol_bbl', 'gas_prod_vol_mcf', 'gas_inj_vol_mcf',
       'water_stm_inj_vol_bbl', 'active_days', 'last_well_mo', 'prod_inj_cd',
       'report_type', 'well_status_cng', 'well_type_cng', 'YEAR_INT'],
      dtype='object')

In [102]:
# Purging unnecessary columns from the wells table
# district: We don't need a string version of
# SubSection : is NaN for all the original data anyway
# operator_status : Don't need full text, will rename operator_status_cd to 'operator_status' next
# well_status : We don't need a string version of
# PoolWellTypeStatus : We don't need pool status... where it's populated, it's basically meaningless
# SystemEntryDate : probably when the operator uploaded to CalGEM, don't care
# row_num : is an artefact from the SQL query
df_wells_sql.drop(columns=['district','SubSection','operator_status','well_status', 'PoolWellTypeStatus','SystemEntryDate', 'row_num'], inplace=True)
progress.value += 1

In [103]:
# set up the monthly volumes tables as well. lots of helper columns we don't need to INSERT
df_sql = df.drop(columns=['prod_or_inj','area_code','field_code','pool_code','IsActive','prod_inj_cd','well_status_CHANGED','well_type_cd_CHANGED','rep_or_est_CHANGED','report_type','well_status2'])

df_sql = df_sql.rename(columns={
    'APIKey1':'api_key'
})

progress.value += 1
list(df_sql.columns)

['api_no',
 'api_no_int',
 'prod_inj_date',
 'vol_month',
 'vol_year',
 'casing_psi',
 'tubing_psi',
 'gas_btu',
 'well_mo',
 'oil_api_grav',
 'surf_inj_press_psi',
 'oil_prod_vol_bbl',
 'prod_days',
 'gas_prod_vol_mcf',
 'water_prod_vol_mcf',
 'gas_inj_vol_mcf',
 'water_stm_inj_vol_bbl',
 'inj_days',
 'well_type_cd',
 'well_status',
 'water_disposition',
 'water_source',
 'water_kind',
 'rep_or_est',
 'rep_or_est_cd',
 'active_days',
 'well_status_cd',
 'api_key']

In [104]:
#df_sql.drop(columns=['well_id_x','well_id_y'], inplace=True)

# Finished building `df_wells` table, SQL time
Now I'll do a few checks to make sure there aren't duplicate rows, and then it can inserted into the `wells` table (or `wells_test` if it's a test run)

In [105]:
# Check the df_wells dataframe for unique row count on the API number
print(f"Number of unique APIs from wells table: {len(df_wells_sql):,}")
assert(len(df_wells_sql) == df_wells.index.nunique())

Number of unique APIs from wells table: 221,372

In [106]:
# rename some of the CalGEM fields to the original well table field names
# these mainly come from the SELECT * in the beginning, updated some names for consistency
# first we'll put the api_key index back to a column so it gets picked up in the SQL insert later
df_wells_sql.reset_index(inplace=True)
df_wells_sql.rename(columns={
    'APIKey1':'api_key',
    'Section':'loc_section',
    'Range':'loc_range',
    'field_code':'field_cd',
    'area_code':'area_cd',
    'pool_code':'pool_cd'
}, inplace=True)

progress.value += 1
list(df_wells_sql.columns)

['api_key',
 'api_no',
 'field_cd',
 'area_cd',
 'pool_cd',
 'well_type_cd',
 'lease_name',
 'field_name',
 'area_name',
 'pool_name',
 'well_number',
 'county',
 'loc_section',
 'loc_township',
 'loc_range',
 'loc_bm',
 'operator_cd',
 'operator_name',
 'well_status_cd',
 'well_type_no',
 'operator_status_cd',
 'dist_no',
 'oil_prod_vol_bbl',
 'gas_prod_vol_mcf',
 'gas_inj_vol_mcf',
 'water_stm_inj_vol_bbl',
 'active_days',
 'last_well_mo',
 'prod_inj_cd',
 'report_type',
 'well_status_cng',
 'well_type_cng',
 'YEAR_INT']

In [107]:
print(f"Number of unique APIs from monthly volumes: {df_wells_from_mv.index.nunique():,}")

Number of unique APIs from monthly volumes: 118,651

In [108]:
# api_no is now the 1st index of the multi-index created above
# checking number of rows equals number of unique wells, so we don't have any double entries
assert(len(df_wells_from_mv) == df_wells_from_mv.index.nunique())

### Add some extra information to the query - this is data that's the same for all wells
in the original data set `REPORT_MO` was used for the Reporting method (50 series = hard copy, 90 series = computerized) - so this will all be 99 now to represent the WellStar data submissions

In [109]:
# add the extra helper columns the destination is expecting
# Add the year of the dataset to all the columns
# This is also used later to pull all the new WELL_ID records
# the item() call converts the pandas or numpy int64 type to basic python int which is needed for MySQL later
#   (MySQL connector doesn't understand pandas or numpy datatypes)
query_year = df['vol_year'].max().item()
df_wells_sql['YEAR_INT'] = query_year
print(f"Query year dataset={query_year}; type={type(query_year)}")

df_wells_sql['report_mo'] = 99
df_wells_sql['api_no_int'] = df_wells_sql['api_no'].astype(int)
progress.value += 1

Query year dataset=2018; type=<class 'int'>

In [110]:
# this is the list of columns to insert into the wells table
wells_cols = list(df_wells_sql.columns)
wells_cols

['api_key',
 'api_no',
 'field_cd',
 'area_cd',
 'pool_cd',
 'well_type_cd',
 'lease_name',
 'field_name',
 'area_name',
 'pool_name',
 'well_number',
 'county',
 'loc_section',
 'loc_township',
 'loc_range',
 'loc_bm',
 'operator_cd',
 'operator_name',
 'well_status_cd',
 'well_type_no',
 'operator_status_cd',
 'dist_no',
 'oil_prod_vol_bbl',
 'gas_prod_vol_mcf',
 'gas_inj_vol_mcf',
 'water_stm_inj_vol_bbl',
 'active_days',
 'last_well_mo',
 'prod_inj_cd',
 'report_type',
 'well_status_cng',
 'well_type_cng',
 'YEAR_INT',
 'report_mo',
 'api_no_int']

In [111]:
mv_cols = list(df_sql.columns)
mv_cols

['api_no',
 'api_no_int',
 'prod_inj_date',
 'vol_month',
 'vol_year',
 'casing_psi',
 'tubing_psi',
 'gas_btu',
 'well_mo',
 'oil_api_grav',
 'surf_inj_press_psi',
 'oil_prod_vol_bbl',
 'prod_days',
 'gas_prod_vol_mcf',
 'water_prod_vol_mcf',
 'gas_inj_vol_mcf',
 'water_stm_inj_vol_bbl',
 'inj_days',
 'well_type_cd',
 'well_status',
 'water_disposition',
 'water_source',
 'water_kind',
 'rep_or_est',
 'rep_or_est_cd',
 'active_days',
 'well_status_cd',
 'api_key']

In [112]:
# After inserting a new well/year row into "wells". use "mycursor.lastrowid" or "connection.insert_id()" to get the Last inserted ID for the monthly_well_volumes table
mysql_dbname = "doggr"
mysql_well_tablename ='wells_test'
mysql_mv_tablename = 'monthly_well_volume_test'

# Connect to the mysql server to add the data
# SQLAlchemy uses a database driver to connect, in this case I'll use mysql-connector-python
conn_str = f"mysql+mysqlconnector://pythonuser:pythonuser@localhost/{mysql_dbname}"
engine = create_engine(conn_str, echo=True)
progress.value += 1

### Add the master record to `doggr_file` table
### Run the MYSQL Insert queries for the well records in `df_wells`
This helps track which original data sources each set originated from

In [113]:
sql = f"INSERT INTO doggr_file (file_name, well_count) VALUES('{mssql_db_name}','{df_wells['api_no'].nunique()}')"

# use `begin()` to start a transaction, which is then used in all the chained queries below.
with engine.begin() as conn:

    try:
        # insert the source file record
        doggr_file_id = conn.execute(text(sql)).lastrowid
        df_wells_sql['doggr_file_id'] = doggr_file_id
        progress.value += 2

        # insert all the well records
        df_wells_sql.to_sql(name=mysql_well_tablename, if_exists='append', index=False, index_label='WELL_ID', chunksize=10000, con=conn )
        progress.value += 5

        result = conn.execute(
            text("SELECT well_id, api_key FROM wells_test WHERE year_int=:year_int"), {"year_int":query_year})

        # Get the well_id list by api_key
        wellid_apikey_df = pd.DataFrame(result.fetchall(), columns=result.keys())
        progress.value += 5

        # attach the well_id to the monthly volumes
        df_sql = pd.merge( df_sql, wellid_apikey_df, how='left', on='api_key')

        # insert all the monthly volume data
        df_sql.to_sql(name=mysql_mv_tablename, if_exists='append', index=False, index_label='well_id', chunksize=10000, con=conn )

        conn.commit()
        progress.value += 5

    except Exception as e:
        conn.rollback()
        print(f"SQL error: {e}")
        raise

2025-02-06 13:57:44,947 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-02-06 13:57:44,948 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-02-06 13:57:44,949 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-02-06 13:57:44,950 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-02-06 13:57:44,951 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-02-06 13:57:44,952 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-02-06 13:57:44,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-06 13:57:44,954 INFO sqlalchemy.engine.Engine INSERT INTO doggr_file (file_name, well_count) VALUES('WellProductionInjection2018','196695')
2025-02-06 13:57:44,955 INFO sqlalchemy.engine.Engine [generated in 0.00101s] {}
2025-02-06 13:57:45,028 INFO sqlalchemy.engine.Engine DESCRIBE `doggr`.`wells_test`
2025-02-06 13:57:45,028 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-02-06 13:57:45,444 INFO sqlalchemy.engine.Engine INSERT INTO wells_test (api_key, api_no, field_cd, area_cd, pool_cd, well_type_cd, lease_name, field_name, area_name, pool_name, well_number, county, loc_section, loc_township, loc_range, loc_bm, operator_cd, operator_name, well_status_cd, well_type_no, operator_status_cd, dist_no, oil_prod_vol_bbl, gas_prod_vol_mcf, gas_inj_vol_mcf, water_stm_inj_vol_bbl, active_days, last_well_mo, prod_inj_cd, report_type, well_status_cng, well_type_cng, `YEAR_INT`, report_mo, api_no_int, doggr_file_id) VALUES (%(api_key)s, %(api_no)s, %(field_cd)s, %(area_cd)s, %(pool_cd)s, %(well_type_cd)s, %(lease_name)s, %(field_name)s, %(area_name)s, %(pool_name)s, %(well_number)s, %(county)s, %(loc_section)s, %(loc_township)s, %(loc_range)s, %(loc_bm)s, %(operator_cd)s, %(operator_name)s, %(well_status_cd)s, %(well_type_no)s, %(operator_status_cd)s, %(dist_no)s, %(oil_prod_vol_bbl)s, %(gas_prod_vol_mcf)s, %(gas_inj_vol_mcf)s, %(water_stm_inj_vol_bbl)s, %(active_days)s, %(last_well_mo)s, %(prod_inj_cd)s, %(report_type)s, %(well_status_cng)s, %(well_type_cng)s, %(YEAR_INT)s, %(report_mo)s, %(api_no_int)s, %(doggr_file_id)s)
2025-02-06 13:57:45,445 INFO sqlalchemy.engine.Engine [generated in 0.14343s] [{'api_key': '040010000100-404-00-00-OG', 'api_no': '040010000100', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Greenville Investment Group', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '1', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 4.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 10.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 1, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40010000100, 'doggr_file_id': 121}, {'api_key': '040012000400-404-00-00-OG', 'api_no': '040012000400', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Greenville Investment Group', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 1216.12, 'gas_prod_vol_mcf': 114.44, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 333.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000400, 'doggr_file_id': 121}, {'api_key': '040012000500-404-00-00-OG', 'api_no': '040012000500', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Smith et ux', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '1', 'county': 'Alameda', 'loc_section': '06', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'A1904', 'operator_name': 'American Exploration Co.', 'well_status_cd': 'P', 'well_type_no': '2', 'operator_status_cd': 'U', 'dist_no': 6, 'oil_prod_vol_bbl': None, 'gas_prod_vol_mcf': None, 'gas_inj_vol_mcf': None, 'water_stm_inj_vol_bbl': None, 'active_days': None, 'last_well_mo': None, 'prod_inj_cd': None, 'report_type': None, 'well_status_cng': None, 'well_type_cng': None, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000500, 'doggr_file_id': 121}, {'api_key': '040012000800-404-00-00-OG', 'api_no': '040012000800', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 0.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000800, 'doggr_file_id': 121}, {'api_key': '040012000800-404-00-05-WD', 'api_no': '040012000800', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'WD', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'Greenville', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '6', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': None, 'gas_prod_vol_mcf': None, 'gas_inj_vol_mcf': None, 'water_stm_inj_vol_bbl': None, 'active_days': None, 'last_well_mo': None, 'prod_inj_cd': None, 'report_type': None, 'well_status_cng': None, 'well_type_cng': None, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000800, 'doggr_file_id': 121}, {'api_key': '040012000801-404-00-00-OG', 'api_no': '040012000801', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 0.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000801, 'doggr_file_id': 121}, {'api_key': '040012000900-404-00-00-OG', 'api_no': '040012000900', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Schenone', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '06', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 35.0, 'gas_prod_vol_mcf': 3.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 12.0, 'last_well_mo': 3, 'prod_inj_cd': '1', 'report_type': 'OG110', 'well_status_cng': 1, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000900, 'doggr_file_id': 121}, {'api_key': '040012001200-404-00-00-OG', 'api_no': '040012001200', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '3', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 1041.23, 'gas_prod_vol_mcf': 87.49, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 76.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012001200, 'doggr_file_id': 121}  ... displaying 10 of 10000 total bound parameter sets ...  {'api_key': '040192426000-150-00-05-SF', 'api_no': '040192426000', 'field_cd': '150', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'SF', 'lease_name': '', 'field_name': 'Coalinga', 'area_name': 'Any Area', 'pool_name': 'Temblor', 'well_number': '7-14I', 'county': 'Fresno', 'loc_section': '29', 'loc_township': '19S', 'loc_range': '15E', 'loc_bm': 'MD', 'operator_cd': 'A0610', 'operator_name': 'Aera Energy LLC', 'well_status_cd': 'A', 'well_type_no': '8', 'operator_status_cd': 'A', 'dist_no': 4, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 105486.0, 'active_days': 365.0, 'last_well_mo': 0, 'prod_inj_cd': '0', 'report_type': 'OG110B', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40192426000, 'doggr_file_id': 121}, {'api_key': '040192426100-150-00-05-OG', 'api_no': '040192426100', 'field_cd': '150', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'OG', 'lease_name': '', 'field_name': 'Coalinga', 'area_name': 'Any Area', 'pool_name': 'Temblor', 'well_number': '8-14', 'county': 'Fresno', 'loc_section': '29', 'loc_township': '19S', 'loc_range': '15E', 'loc_bm': 'MD', 'operator_cd': 'A0610', 'operator_name': 'Aera Energy LLC', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 4, 'oil_prod_vol_bbl': 8232.0, 'gas_prod_vol_mcf': 391.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 361.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40192426100, 'doggr_file_id': 121}]
2025-02-06 13:57:46,349 INFO sqlalchemy.engine.Engine ROLLBACK
SQL error: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'last_well_mo' in 'field list'
[SQL: INSERT INTO wells_test (api_key, api_no, field_cd, area_cd, pool_cd, well_type_cd, lease_name, field_name, area_name, pool_name, well_number, county, loc_section, loc_township, loc_range, loc_bm, operator_cd, operator_name, well_status_cd, well_type_no, operator_status_cd, dist_no, oil_prod_vol_bbl, gas_prod_vol_mcf, gas_inj_vol_mcf, water_stm_inj_vol_bbl, active_days, last_well_mo, prod_inj_cd, report_type, well_status_cng, well_type_cng, `YEAR_INT`, report_mo, api_no_int, doggr_file_id) VALUES (%(api_key)s, %(api_no)s, %(field_cd)s, %(area_cd)s, %(pool_cd)s, %(well_type_cd)s, %(lease_name)s, %(field_name)s, %(area_name)s, %(pool_name)s, %(well_number)s, %(county)s, %(loc_section)s, %(loc_township)s, %(loc_range)s, %(loc_bm)s, %(operator_cd)s, %(operator_name)s, %(well_status_cd)s, %(well_type_no)s, %(operator_status_cd)s, %(dist_no)s, %(oil_prod_vol_bbl)s, %(gas_prod_vol_mcf)s, %(gas_inj_vol_mcf)s, %(water_stm_inj_vol_bbl)s, %(active_days)s, %(last_well_mo)s, %(prod_inj_cd)s, %(report_type)s, %(well_status_cng)s, %(well_type_cng)s, %(YEAR_INT)s, %(report_mo)s, %(api_no_int)s, %(doggr_file_id)s)]

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'last_well_mo' in 'field list'
[SQL: INSERT INTO wells_test (api_key, api_no, field_cd, area_cd, pool_cd, well_type_cd, lease_name, field_name, area_name, pool_name, well_number, county, loc_section, loc_township, loc_range, loc_bm, operator_cd, operator_name, well_status_cd, well_type_no, operator_status_cd, dist_no, oil_prod_vol_bbl, gas_prod_vol_mcf, gas_inj_vol_mcf, water_stm_inj_vol_bbl, active_days, last_well_mo, prod_inj_cd, report_type, well_status_cng, well_type_cng, `YEAR_INT`, report_mo, api_no_int, doggr_file_id) VALUES (%(api_key)s, %(api_no)s, %(field_cd)s, %(area_cd)s, %(pool_cd)s, %(well_type_cd)s, %(lease_name)s, %(field_name)s, %(area_name)s, %(pool_name)s, %(well_number)s, %(county)s, %(loc_section)s, %(loc_township)s, %(loc_range)s, %(loc_bm)s, %(operator_cd)s, %(operator_name)s, %(well_status_cd)s, %(well_type_no)s, %(operator_status_cd)s, %(dist_no)s, %(oil_prod_vol_bbl)s, %(gas_prod_vol_mcf)s, %(gas_inj_vol_mcf)s, %(water_stm_inj_vol_bbl)s, %(active_days)s, %(last_well_mo)s, %(prod_inj_cd)s, %(report_type)s, %(well_status_cng)s, %(well_type_cng)s, %(YEAR_INT)s, %(report_mo)s, %(api_no_int)s, %(doggr_file_id)s)]
[parameters: [{'api_key': '040010000100-404-00-00-OG', 'api_no': '040010000100', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Greenville Investment Group', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '1', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 4.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 10.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 1, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40010000100, 'doggr_file_id': 121}, {'api_key': '040012000400-404-00-00-OG', 'api_no': '040012000400', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Greenville Investment Group', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 1216.12, 'gas_prod_vol_mcf': 114.44, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 333.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000400, 'doggr_file_id': 121}, {'api_key': '040012000500-404-00-00-OG', 'api_no': '040012000500', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Smith et ux', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '1', 'county': 'Alameda', 'loc_section': '06', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'A1904', 'operator_name': 'American Exploration Co.', 'well_status_cd': 'P', 'well_type_no': '2', 'operator_status_cd': 'U', 'dist_no': 6, 'oil_prod_vol_bbl': None, 'gas_prod_vol_mcf': None, 'gas_inj_vol_mcf': None, 'water_stm_inj_vol_bbl': None, 'active_days': None, 'last_well_mo': None, 'prod_inj_cd': None, 'report_type': None, 'well_status_cng': None, 'well_type_cng': None, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000500, 'doggr_file_id': 121}, {'api_key': '040012000800-404-00-00-OG', 'api_no': '040012000800', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 0.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000800, 'doggr_file_id': 121}, {'api_key': '040012000800-404-00-05-WD', 'api_no': '040012000800', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'WD', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'Greenville', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '6', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': None, 'gas_prod_vol_mcf': None, 'gas_inj_vol_mcf': None, 'water_stm_inj_vol_bbl': None, 'active_days': None, 'last_well_mo': None, 'prod_inj_cd': None, 'report_type': None, 'well_status_cng': None, 'well_type_cng': None, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000800, 'doggr_file_id': 121}, {'api_key': '040012000801-404-00-00-OG', 'api_no': '040012000801', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'I', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 0.0, 'last_well_mo': 0, 'prod_inj_cd': '2', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000801, 'doggr_file_id': 121}, {'api_key': '040012000900-404-00-00-OG', 'api_no': '040012000900', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Schenone', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '2', 'county': 'Alameda', 'loc_section': '06', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 35.0, 'gas_prod_vol_mcf': 3.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 12.0, 'last_well_mo': 3, 'prod_inj_cd': '1', 'report_type': 'OG110', 'well_status_cng': 1, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012000900, 'doggr_file_id': 121}, {'api_key': '040012001200-404-00-00-OG', 'api_no': '040012001200', 'field_cd': '404', 'area_cd': '00', 'pool_cd': '00', 'well_type_cd': 'OG', 'lease_name': 'Nissen', 'field_name': 'Livermore', 'area_name': 'Any Area', 'pool_name': 'No Pool Breakdown', 'well_number': '3', 'county': 'Alameda', 'loc_section': '07', 'loc_township': '03S', 'loc_range': '03E', 'loc_bm': 'MD', 'operator_cd': 'E0100', 'operator_name': 'E & B Natural Resources Management Corporation', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 6, 'oil_prod_vol_bbl': 1041.23, 'gas_prod_vol_mcf': 87.49, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 76.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40012001200, 'doggr_file_id': 121}  ... displaying 10 of 10000 total bound parameter sets ...  {'api_key': '040192426000-150-00-05-SF', 'api_no': '040192426000', 'field_cd': '150', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'SF', 'lease_name': '', 'field_name': 'Coalinga', 'area_name': 'Any Area', 'pool_name': 'Temblor', 'well_number': '7-14I', 'county': 'Fresno', 'loc_section': '29', 'loc_township': '19S', 'loc_range': '15E', 'loc_bm': 'MD', 'operator_cd': 'A0610', 'operator_name': 'Aera Energy LLC', 'well_status_cd': 'A', 'well_type_no': '8', 'operator_status_cd': 'A', 'dist_no': 4, 'oil_prod_vol_bbl': 0.0, 'gas_prod_vol_mcf': 0.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 105486.0, 'active_days': 365.0, 'last_well_mo': 0, 'prod_inj_cd': '0', 'report_type': 'OG110B', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40192426000, 'doggr_file_id': 121}, {'api_key': '040192426100-150-00-05-OG', 'api_no': '040192426100', 'field_cd': '150', 'area_cd': '00', 'pool_cd': '05', 'well_type_cd': 'OG', 'lease_name': '', 'field_name': 'Coalinga', 'area_name': 'Any Area', 'pool_name': 'Temblor', 'well_number': '8-14', 'county': 'Fresno', 'loc_section': '29', 'loc_township': '19S', 'loc_range': '15E', 'loc_bm': 'MD', 'operator_cd': 'A0610', 'operator_name': 'Aera Energy LLC', 'well_status_cd': 'A', 'well_type_no': '2', 'operator_status_cd': 'A', 'dist_no': 4, 'oil_prod_vol_bbl': 8232.0, 'gas_prod_vol_mcf': 391.0, 'gas_inj_vol_mcf': 0.0, 'water_stm_inj_vol_bbl': 0.0, 'active_days': 361.0, 'last_well_mo': 3, 'prod_inj_cd': '0', 'report_type': 'OG110', 'well_status_cng': 0, 'well_type_cng': 0, 'YEAR_INT': 2018, 'report_mo': 99, 'api_no_int': 40192426100, 'doggr_file_id': 121}]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [114]:
progress.value = 100.0

In [115]:
wellid_apikey_df

         well_id                    api_key
0       11430626  040010000100-404-00-00-OG
1       11430627  040012000400-404-00-00-OG
2       11430628  040012000500-404-00-00-OG
3       11430629  040012000800-404-00-00-OG
4       11430630  040012000800-404-00-05-WD
...          ...                        ...
221367  11651993  042832158400-118-00-00-OG
221368  11651994  042832158500-118-00-00-OG
221369  11651995  042832158600-118-00-00-OG
221370  11651996  042952006000-634-03-00-DG
221371  11651997  042952006400-634-03-00-DG

[221372 rows x 2 columns]

In [116]:
df_sql

,api_no,api_no_int,prod_inj_date,vol_month,vol_year,casing_psi,tubing_psi,gas_btu,well_mo,oil_api_grav,surf_inj_press_psi,oil_prod_vol_bbl,prod_days,gas_prod_vol_mcf,water_prod_vol_mcf,gas_inj_vol_mcf,water_stm_inj_vol_bbl,inj_days,well_type_cd,well_status,water_disposition,water_source,water_kind,rep_or_est,rep_or_est_cd,active_days,well_status_cd,api_key,well_id
0,040010000100,40010000100,2018-01-31,1,2018,<NA>,<NA>,<NA>,4,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Active,5,0,0,Estimated,0,0.0,A,040010000100-404-00-00-OG,11430626
1,040010000100,40010000100,2018-02-28,2,2018,10,50,1000,4,264.0,<NA>,0.0,1.0,0.0,0.0,NaN,NaN,NaN,OG,Idle,5,0,0,Reported,1,1.0,I,040010000100-404-00-00-OG,11430626
2,040010000100,40010000100,2018-03-31,3,2018,10,50,1000,4,264.0,<NA>,2.0,3.0,0.0,0.0,NaN,NaN,NaN,OG,Active,5,0,0,Reported,1,3.0,A,040010000100-404-00-00-OG,11430626
3,040010000100,40010000100,2018-04-30,4,2018,10,50,1000,4,26.0,<NA>,2.0,2.0,0.0,0.0,NaN,NaN,NaN,OG,Active,5,0,0,Reported,1,2.0,A,040010000100-404-00-00-OG,11430626
4,040010000100,40010000100,2018-05-31,5,2018,10,50,1000,4,26.0,<NA>,0.0,1.0,0.0,111.0,NaN,NaN,NaN,OG,Active,5,0,0,Reported,1,1.0,A,040010000100-404-00-00-OG,11430626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461356,042832029000,42832029000,2018-08-31,8,2018,<NA>,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Idle,0,0,0,Estimated,0,0.0,I,042832029000-236-06-03-OG,11651978
1461357,042832029000,42832029000,2018-09-30,9,2018,<NA>,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Idle,0,0,0,Estimated,0,0.0,I,042832029000-236-06-03-OG,11651978
1461358,042832029000,42832029000,2018-10-31,10,2018,<NA>,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Idle,0,0,0,Estimated,0,0.0,I,042832029000-236-06-03-OG,11651978
1461359,042832029000,42832029000,2018-11-30,11,2018,<NA>,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Idle,0,0,0,Estimated,0,0.0,I,042832029000-236-06-03-OG,11651978
1461360,042832029000,42832029000,2018-12-31,12,2018,<NA>,<NA>,<NA>,0,NaN,<NA>,0.0,NaN,0.0,0.0,NaN,NaN,NaN,OG,Idle,0,0,0,Estimated,0,0.0,I,042832029000-236-06-03-OG,11651978